<div class="banner">

  <div class="col-md-12 col-xs-12 col-md-12">
    <div class="col-md-9 col-xs-9 col-md-9">
      <table class="tablenews margin-top-20 border-style-table-giaiphap" width="100%" cellspacing="0" cellpadding="0">
        <tbody>
        <ng-container *ngFor="let solution of solutionList">

          <tr class="border-style-table-giaiphap">
            <td valign="top" width="105">
              <div class="newpic"><a (click)="goToChiTietGiaiPhap($event,solution)">
                <img src="{{solution.hinhAnh}}" border="0" hspace="5" vspace="5" width="120" height="80"/></a>
              </div>
            </td>
            <td style="padding-right: 5px;" align="left" valign="top">
              <h4><a (click)="goToChiTietGiaiPhap($event,solution)">{{solution.tieuDe}}</a></h4>
              <div>
                {{solution.noiDungNgan}}
              </div>
              <p class="viewmore" align="right"><a (click)="goToChiTietGiaiPhap($event,solution)">Xem tiếp</a></p>
            </td>
          </tr>

        </ng-container>
        </tbody>
      </table>
    </div>
    <app-web-right-side></app-web-right-side>
  </div>
  <div class="clearfix"></div>
</div>
<div class="newsletter">
  <div class="container">
    <div class="w3agile_newsletter_left">
      <h3>sign up for our newsletter</h3>
    </div>
    <div class="w3agile_newsletter_right">
      <form action="#" method="post">
        <input type="email" name="Email" value="Email" onfocus="this.value = '';"
               onblur="if (this.value == '') {this.value = 'Email';}" required="">
        <input type="submit" value="subscribe now">
      </form>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
