<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="assets/img/user2-160x160.jpg" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>{{username}}</p>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">Quản trị</li>
      <!-- Optionally, you can add icons to the links -->
      <li class="treeview">

        <a href="#"><i class="fa fa-product-hunt"></i> <span>Quản trị dữ liệu</span>

          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
          </span>

        </a>

        <ul class="treeview-menu">
          <li *ngFor="let menu of menuItems; trackBy: menu?.id">
            <a href="#" (click)="menuClicked($event, menu)">{{menu.name}}</a>
          </li>
        </ul>

      </li>
      <li class="treeview">

        <a href="#"><i class="fa fa-cart-arrow-down"></i> <span>Quản trị bán hàng</span>

          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
          </span>

        </a>

        <ul class="treeview-menu">
          <li *ngFor="let menu of menuItemsOrder; trackBy: menu?.id">
            <a href="#" (click)="menuClicked($event, menu)">{{menu.name}}</a>
          </li>
        </ul>

      </li>
      <li class="treeview">

        <a href="#"><i class="fa fa-desktop"></i> <span>Cấu hình giao diện</span>

          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
          </span>

        </a>

        <ul class="treeview-menu">
          <li *ngFor="let menu of menuItemsUI; trackBy: menu?.id">
            <a href="#" (click)="menuClicked($event, menu)">{{menu.name}}</a>
          </li>
        </ul>

      </li>
    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
