<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
  <div class="process_category">
    <p>DANH MỤC SẢN PHẨM</p>
  </div>
  <ul class="nav navbar-nav nav_1">
    <ng-container *ngFor="let parentCategory of getParentCategories()">
      <li class="dropdown mega-dropdown active">
        <a [routerLink]="['/danhSachSanPham', parentCategory.code,'']" class="dropdown-toggle" data-toggle="dropdown">
          {{parentCategory.name}}
          <span class="caret"></span>
        </a>

        <div class="dropdown-menu mega-dropdown-menu w3ls_vegetables_menu">
          <div class="w3ls_vegetables">
            <ul>
              <ng-container *ngFor="let subCategory of getSubCategories(parentCategory);">
                <li>
                  <a (click)="goToSubCategory($event, parentCategory, subCategory)">{{subCategory.name}}</a>
                </li>
              </ng-container>
            </ul>
          </div>
        </div>
      </li>
    </ng-container>

  </ul>

  <div class="process_category">
    <p>HỖ TRỢ TRỰC TUYẾN</p>
  </div>

  <div>
    <table class="tableSupport">
      <tr class="trSupport">
        <td class="iconSupport">
          <img src="assets/images/facebook.png">
        </td>
        <td class="contentSupport">
          <a target="_blank" href="https://www.facebook.com/nguyenvannam2802">nguyenvannam2802</a>
        </td>
      </tr>
      <tr class="trSupport">
        <td class="iconSupport">
          <img src="assets/images/telephone.png">
        </td>
        <td class="contentSupport">
          <a href="tel:0966 543 456">0966543456</a>
        </td>
      </tr>
      <tr class="trSupport">
        <td class="iconSupport">
          <img src="assets/images/skype.png">
        </td>
        <td class="contentSupport">
          <a href="skype:namtv?chat">namtvSkype</a>
        </td>
      </tr>
    </table>
  </div>

</div>
