
<!-- banner -->
<div class="banner">

    <div class="col-md-12 col-xs-12 col-md-12">
      <div class="col-md-9 col-xs-9 col-md-9">
        <ng-container *ngIf="isAvailbaleProduct()">
          <div class="agileinfo_single">
            <div class="col-md-6 agileinfo_single_left">
              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  <ng-container *ngFor="let imageView of listHinhAnhSanPham(this.product); let indexImage = index">
                    <div class="item " [class.active]="activeImage(indexImage)">
                      <img id="example" src="{{imageView}}" alt=" " class="img-responsive" style="margin: auto;" width="300" height="300"/>
                    </div>
                  </ng-container>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </div>
            </div>
            <div class="col-md-6 agileinfo_single_right">

              <div class="w3agile_description">
                <h4 class="confixByH4">{{this.product.name}}:</h4>
                <p class="confixByP">Hãng sản xuất: {{this.product.hangSanXuat}}</p>
                <p class="confixByP">Bảo hành: {{this.product.baoHanh}}</p>
                <p class="confixByP">Kho hàng: {{this.product.khoHang}}</p>
                <p class="confixByP">098654321</p>
                <p class="confixByP">namtv@gmail.com</p>
              </div>

              <div class="snipcart-item block">
                <div class="snipcart-thumb agileinfo_single_right_snipcart">
                  <h4>{{this.product.gia}} Đ
                    <span>{{this.product.giaTruocKhiHa}} Đ</span>
                  </h4>
                </div>
                <div class="snipcart-details agileinfo_single_right_details">
                  <input type="submit" name="submit" value="Mua ngay" class="button"/>
                </div>
              </div>

            </div>
            <div class="col-md-12 paddingDiv">
              <ul class="nav nav-pills">
                <li class="active">
                  <a data-toggle="pill" href="#menuThongTinChiTiet">Thông tin chi tiết</a>
                </li>

                <li>
                  <a data-toggle="pill" href="#menuThongSoKyThuat">Thông số kỹ thuật</a>
                </li>

                <li>
                  <a data-toggle="pill" href="#menuKhuyenMai">Khuyến mại</a>
                </li>

              </ul>

              <div class="tab-content">

                <div id="menuThongTinChiTiet" class="tab-pane fade in active">

                  <div class="prd-body" [innerHTML]="this.product.thongTinChiTiet"></div>
                </div>

                <div id="menuThongSoKyThuat" class="tab-pane fade">
                  <div class="prd-body" [innerHTML]="this.product.thongSoKiThuat"></div>
                </div>

                <div id="menuKhuyenMai" class="tab-pane fade">
                  <div class="prd-body" [innerHTML]="this.product.khuyenMai"></div>
                </div>
              </div>

            </div>
            <div class="clearfix"></div>
          </div>
        </ng-container>
      </div>
      <app-web-right-side [siteOfNews]="4"></app-web-right-side>
    </div>
  <div class="clearfix"></div>
</div>
<!-- //banner -->
<!-- brands -->
<div class="w3ls_w3l_banner_nav_right_grid w3ls_w3l_banner_nav_right_grid_popular">
  <div class="container" style="text-align: center">

    <!--Sản phẩm tương tự Horizontal View-->

    <div class="w3ls_w3l_banner_nav_right_grid1" *ngIf="allowDisplayProductVetical">

      <div class="col-md-12 header4">
        <h1>Sản phẩm tương tự</h1>
        <h2 style="display:none;">Sản phẩm tương tự</h2>

        <div class="clear"></div>
      </div>
      <ng-container *ngFor="let productCamera of this.productLienQuan">
        <div class="col-xs-12 col-md-6 col-lg-3 paddingDivAll20Px confixBorderTop">
          <div class="row confixPaddingProduct">
            <div class="col-md-12">
              <div class="confixImageProductHome">
                <a class="img hover-zoom" (click)="goToChiTietSanPham($event, productCamera)"
                   title="{{productCamera.name}}">
                  <img
                    src="{{productCamera.image1}}"
                    class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="{{productCamera.name}}">
                </a>
              </div>
              <div class="product-sale discount confixMargin20px" *ngIf="kiemTraGiamGia(productCamera)">
                <span>{{productCamera.phanTramGiamGia}}%</span>
              </div>
            </div>
            <div class="col-md-12">
              <div class="content-product confixPadding20px">

                <h5 class="changeFontColorBlack ">
                  <a class="title" (click)="goToChiTietSanPham(productCamera)"
                     title="{{productCamera.name}}">{{productCamera.name}}</a>
                </h5>
                <div class="descrison">
                  <p>Danh mục: {{productCamera.categoryName}}</p>
                </div>
                <!--<div class="prd-body confixElementLi" [innerHTML]="productCamera.thongTinMoRong"></div>-->
                <div class="prd-body confixElementLi" [innerHTML]="productCamera.thongTinBoSung"></div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="box-product confixPaddingTopBottom20px">
                <div class=""><span class="thayDoiCSSGiaTruocKhiHa">Giá gốc: {{productCamera.giaTruocKhiHa}} đ</span>
                </div>
                <div class=""><span class="thayDoiCSSGiaBan">Giá bán: {{productCamera.gia}} đ</span>
                </div>
                <div class=""><span class="thayDoiCSSGiaKhuyenMai">Tiết kiệm: 150.00 đ</span></div>
                <div class="">
                  <button class="btn btn-warning" (click)="addProductToOrder(productCamera)">Mua ngay</button>
                </div>
              </div>
            </div>
          </div>
          <!--</div>-->
        </div>
      </ng-container>
      <div class="clearfix"></div>
    </div>

    <div class="w3ls_w3l_banner_nav_right_grid1" *ngIf="!allowDisplayProductVetical">

      <div class="col-md-12 header4">
        <h1>Sản phẩm mới</h1>
        <h2 style="display:none;">Camera Dahua</h2>

        <div class="clear"></div>
      </div>

      <ng-container *ngFor="let productLienQuan of this.productLienQuan">
        <div class="col-xs-6 col-sm-4 col-lg-3 paddingListProduct">
          <div class="hover14 column">
            <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
              <div class="product-sale discount" *ngIf="kiemTraGiamGia(productLienQuan)">
                <span>{{productLienQuan.phanTramGiamGia}}%</span>
              </div>
              <div class="agile_top_brand_left_grid1">
                <div class="snipcart-item block">
                  <div class="snipcart-thumb">
                    <a (click)="goToChiTietSanPham($event,productLienQuan)">
                      <img src="{{productLienQuan.image1}}" alt="{{productLienQuan.name}}" class="img-responsive"
                           width="140" height="140"/>
                    </a>
                    <p>{{productLienQuan.name}}</p>
                    <h4>{{productLienQuan.gia}} đ
                      <span>{{productLienQuan.giaTruocKhiHa}} đ</span>
                    </h4>
                  </div>
                  <div class="snipcart-details">
                    <input type="submit" name="submit" value="Mua ngay" class="button"/>
                  </div>
                </div>
                <div class="tooltip_sale" id="toolTip_Horizontal__LienQuan">
                  <div class="prd-body" [innerHTML]="productLienQuan.khuyenMai"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="clearfix"></div>
    </div>

  </div>
</div>
<!-- //brands -->
