<div class="products-breadcrumb">
  <div class="container">
    <ul>
      <li>
        <i class="fa fa-home" aria-hidden="true"></i>
        <a href="index.html">Trang chủ</a>
        <span>|</span>
      </li>
      <li>Chi tiết sản phẩm</li>
    </ul>
  </div>
</div>

<!-- banner -->
<div class="banner">
  <div class="w3l_banner_nav_left">
    <nav class="navbar nav_bottom">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header nav_2">
        <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->



      <app-web-left-side></app-web-left-side>

      <!-- /.navbar-collapse -->
    </nav>
  </div>
  <div class="w3l_banner_nav_right">
    <div class="agileinfo_single">
      <h5>Camera giám sát hành trình 001</h5>
      <div class="col-md-4 agileinfo_single_left">
        <img id="example" src="assets/images/76.png" alt=" " class="img-responsive" />
      </div>
      <div class="col-md-8 agileinfo_single_right">

        <div class="w3agile_description">
          <h4 class="confixByH4">K-EF234L01E :</h4>
          <p class="confixByP">Hãng sản xuất: Panasonic</p>
          <p class="confixByP">Bảo hành: Bảo hành 12 tháng</p>
          <p class="confixByP">Kho hàng: Panasonic</p>
          <p class="confixByP">04 37913858 Ex.403</p>
          <p class="confixByP">marketing@silversea.vn</p>
        </div>

        <div class="snipcart-item block">
          <div class="snipcart-thumb agileinfo_single_right_snipcart">
            <h4>11.000.000 VND
              <span>12.000.000 VND</span>
            </h4>
          </div>
          <div class="snipcart-details agileinfo_single_right_details">
            <form action="#" method="post">
              <fieldset>
                <input type="hidden" name="cmd" value="_cart" />
                <input type="hidden" name="add" value="1" />
                <input type="hidden" name="business" value=" " />
                <input type="hidden" name="item_name" value="pulao basmati rice" />
                <input type="hidden" name="amount" value="21.00" />
                <input type="hidden" name="discount_amount" value="1.00" />
                <input type="hidden" name="currency_code" value="USD" />
                <input type="hidden" name="return" value=" " />
                <input type="hidden" name="cancel_return" value=" " />
                <button type="submit" class="btn btn-danger">Mua hàng</button>
              </fieldset>
            </form>
          </div>
        </div>

      </div>
      <div class="col-md-12 paddingDiv">
        <ul class="nav nav-pills">
          <li  class="active">
            <a data-toggle="pill" href="#menuThongTinChiTiet" >Thông tin chi tiết</a>
          </li>

          <li>
            <a data-toggle="pill" href="#menuThongSoKyThuat">Thông số kỹ thuật</a>
          </li>

          <li>
            <a data-toggle="pill" href="#menuKhuyenMai">Khuyến mại</a>
          </li>

        </ul>

        <div class="tab-content">
          <div id="menuThongTinChiTiet" class="tab-pane fade in active">
            <table class="table table-bordered">
              <tbody>
              <tr>
                <td class="confixByThread">Cảm biến ảnh</td>
                <td class="confixByTbody">: Approx. 1/2.8 type CMOS image sensor</td>
              </tr>
              <tr>
                <td class="confixByThread">Độ phân giải / Tốc độ khung</td>
                <td class="confixByTbody">: 1080P(1920x1080) / 1.3 M (1280x960) / 720P (1280x720)/ D1 (704x576/704x480) / CIF (352×288/352×240)</td>
              </tr>

              <tr>
                <td class="confixByThread">Chuẩn nén</td>
                <td class="confixByTbody">: H.264/ H.264H/ H.264B/ MJPEG</td>
              </tr>

              <tr>
                <td class="confixByThread">Ống kính</td>
                <td class="confixByTbody">: 2.7 mm to 12 mm</td>
              </tr>

              <tr>
                <td class="confixByThread">Độ nhạy sáng</td>
                <td class="confixByTbody"> : 0.2 lx / F1.4 (color)*, 0 lx / F1.4(IR on)</td>
              </tr>

              <tr>
                <td class="confixByThread">Góc quan sát</td>
                <td class="confixByTbody">: H: 93° to 34° V: 50° to 18°</td>
              </tr>

              <tr>
                <td class="confixByThread">Tầm xa hồng ngoại</td>
                <td class="confixByTbody">: 30 m</td>
              </tr>

              <tr>
                <td class="confixByThread">Tiêu chuẩn bảo vệ </td>
                <td class="confixByTbody">: IP66</td>
              </tr>

              <tr>
                <td class="confixByThread">Nguồn / Công suất</td>
                <td class="confixByTbody">: 12 V DC: 710 mA / Approx. 8.5 W PoE 48 V DC: 180 mA / Approx. 8.6 W</td>
              </tr>

              </tbody>
            </table>
          </div>
          <div id="menuThongSoKyThuat" class="tab-pane fade in active">
            <table class="table table-bordered">
              <tbody>
              <tr>
                <td class="confixByThread">Cảm biến ảnh</td>
                <td class="confixByTbody">: Approx. 1/2.8 type CMOS image sensor</td>
              </tr>
              <tr>
                <td class="confixByThread">Độ phân giải / Tốc độ khung</td>
                <td class="confixByTbody">: 1080P(1920x1080) / 1.3 M (1280x960) / 720P (1280x720)/ D1 (704x576/704x480) / CIF (352×288/352×240)</td>
              </tr>

              <tr>
                <td class="confixByThread">Chuẩn nén</td>
                <td class="confixByTbody">: H.264/ H.264H/ H.264B/ MJPEG</td>
              </tr>

              <tr>
                <td class="confixByThread">Ống kính</td>
                <td class="confixByTbody">: 2.7 mm to 12 mm</td>
              </tr>

              <tr>
                <td class="confixByThread">Độ nhạy sáng</td>
                <td class="confixByTbody"> : 0.2 lx / F1.4 (color)*, 0 lx / F1.4(IR on)</td>
              </tr>

              <tr>
                <td class="confixByThread">Góc quan sát</td>
                <td class="confixByTbody">: H: 93° to 34° V: 50° to 18°</td>
              </tr>

              <tr>
                <td class="confixByThread">Tầm xa hồng ngoại</td>
                <td class="confixByTbody">: 30 m</td>
              </tr>

              <tr>
                <td class="confixByThread">Tiêu chuẩn bảo vệ </td>
                <td class="confixByTbody">: IP66</td>
              </tr>

              <tr>
                <td class="confixByThread">Nguồn / Công suất</td>
                <td class="confixByTbody">: 12 V DC: 710 mA / Approx. 8.5 W PoE 48 V DC: 180 mA / Approx. 8.6 W</td>
              </tr>

              </tbody>
            </table>
          </div>
          <div id="menuKhuyenMai" class="tab-pane fade">
            <table class="table table-bordered">
              <tbody>
              <tr>
                <td class="confixByThread">Cảm biến ảnh</td>
                <td class="confixByTbody">: Approx. 1/2.8 type CMOS image sensor</td>
              </tr>
              <tr>
                <td class="confixByThread">Độ phân giải / Tốc độ khung</td>
                <td class="confixByTbody">: 1080P(1920x1080) / 1.3 M (1280x960) / 720P (1280x720)/ D1 (704x576/704x480) / CIF (352×288/352×240)</td>
              </tr>

              <tr>
                <td class="confixByThread">Chuẩn nén</td>
                <td class="confixByTbody">: H.264/ H.264H/ H.264B/ MJPEG</td>
              </tr>

              <tr>
                <td class="confixByThread">Ống kính</td>
                <td class="confixByTbody">: 2.7 mm to 12 mm</td>
              </tr>

              <tr>
                <td class="confixByThread">Độ nhạy sáng</td>
                <td class="confixByTbody"> : 0.2 lx / F1.4 (color)*, 0 lx / F1.4(IR on)</td>
              </tr>

              <tr>
                <td class="confixByThread">Góc quan sát</td>
                <td class="confixByTbody">: H: 93° to 34° V: 50° to 18°</td>
              </tr>

              <tr>
                <td class="confixByThread">Tầm xa hồng ngoại</td>
                <td class="confixByTbody">: 30 m</td>
              </tr>

              <tr>
                <td class="confixByThread">Tiêu chuẩn bảo vệ </td>
                <td class="confixByTbody">: IP66</td>
              </tr>

              <tr>
                <td class="confixByThread">Nguồn / Công suất</td>
                <td class="confixByTbody">: 12 V DC: 710 mA / Approx. 8.5 W PoE 48 V DC: 180 mA / Approx. 8.6 W</td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>

      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<!-- //banner -->
<!-- brands -->
<div class="w3ls_w3l_banner_nav_right_grid w3ls_w3l_banner_nav_right_grid_popular">
  <div class="container">
    <h3>Sản phẩm tương tự</h3>
    <div class="w3ls_w3l_banner_nav_right_grid1">
      <h6>food</h6>
      <div class="col-md-3 w3ls_w3l_banner_left">
        <div class="hover14 column">
          <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
            <div class="agile_top_brand_left_grid_pos">
              <img src="assets/images/offer.png" alt=" " class="img-responsive" />
            </div>
            <div class="agile_top_brand_left_grid1">
              <figure>
                <div class="snipcart-item block">
                  <div class="snipcart-thumb">
                    <a href="single.html">
                      <img src="assets/images/5.png" alt=" " class="img-responsive" />
                    </a>
                    <p>knorr instant soup (100 gm)</p>
                    <h4>$3.00
                      <span>$5.00</span>
                    </h4>
                  </div>
                  <div class="snipcart-details">
                    <form action="#" method="post">
                      <fieldset>
                        <input type="hidden" name="cmd" value="_cart" />
                        <input type="hidden" name="add" value="1" />
                        <input type="hidden" name="business" value=" " />
                        <input type="hidden" name="item_name" value="knorr instant soup" />
                        <input type="hidden" name="amount" value="3.00" />
                        <input type="hidden" name="discount_amount" value="1.00" />
                        <input type="hidden" name="currency_code" value="USD" />
                        <input type="hidden" name="return" value=" " />
                        <input type="hidden" name="cancel_return" value=" " />
                        <input type="submit" name="submit" value="Add to cart" class="button" />
                      </fieldset>
                    </form>
                  </div>
                </div>
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 w3ls_w3l_banner_left">
        <div class="hover14 column">
          <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
            <div class="agile_top_brand_left_grid_pos">
              <img src="assets/images/offer.png" alt=" " class="img-responsive" />
            </div>
            <div class="agile_top_brand_left_grid1">
              <figure>
                <div class="snipcart-item block">
                  <div class="snipcart-thumb">
                    <a href="single.html">
                      <img src="assets/images/6.png" alt=" " class="img-responsive" />
                    </a>
                    <p>chings noodles (75 gm)</p>
                    <h4>$5.00
                      <span>$8.00</span>
                    </h4>
                  </div>
                  <div class="snipcart-details">
                    <form action="#" method="post">
                      <fieldset>
                        <input type="hidden" name="cmd" value="_cart" />
                        <input type="hidden" name="add" value="1" />
                        <input type="hidden" name="business" value=" " />
                        <input type="hidden" name="item_name" value="chings noodles" />
                        <input type="hidden" name="amount" value="5.00" />
                        <input type="hidden" name="discount_amount" value="1.00" />
                        <input type="hidden" name="currency_code" value="USD" />
                        <input type="hidden" name="return" value=" " />
                        <input type="hidden" name="cancel_return" value=" " />
                        <input type="submit" name="submit" value="Add to cart" class="button" />
                      </fieldset>
                    </form>
                  </div>
                </div>
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 w3ls_w3l_banner_left">
        <div class="hover14 column">
          <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
            <div class="agile_top_brand_left_grid_pos">
              <img src="assets/images/offer.png" alt=" " class="img-responsive" />
            </div>
            <div class="agile_top_brand_left_grid1">
              <figure>
                <div class="snipcart-item block">
                  <div class="snipcart-thumb">
                    <a href="single.html">
                      <img src="assets/images/7.png" alt=" " class="img-responsive" />
                    </a>
                    <p>lahsun sev (150 gm)</p>
                    <h4>$3.00
                      <span>$5.00</span>
                    </h4>
                  </div>
                  <div class="snipcart-details">
                    <form action="#" method="post">
                      <fieldset>
                        <input type="hidden" name="cmd" value="_cart" />
                        <input type="hidden" name="add" value="1" />
                        <input type="hidden" name="business" value=" " />
                        <input type="hidden" name="item_name" value="lahsun sev" />
                        <input type="hidden" name="amount" value="3.00" />
                        <input type="hidden" name="discount_amount" value="1.00" />
                        <input type="hidden" name="currency_code" value="USD" />
                        <input type="hidden" name="return" value=" " />
                        <input type="hidden" name="cancel_return" value=" " />
                        <input type="submit" name="submit" value="Add to cart" class="button" />
                      </fieldset>
                    </form>
                  </div>
                </div>
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 w3ls_w3l_banner_left">
        <div class="hover14 column">
          <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
            <div class="agile_top_brand_left_grid_pos">
              <img src="assets/images/offer.png" alt=" " class="img-responsive" />
            </div>
            <div class="agile_top_brand_left_grid1">
              <figure>
                <div class="snipcart-item block">
                  <div class="snipcart-thumb">
                    <a href="single.html">
                      <img src="assets/images/8.png" alt=" " class="img-responsive" />
                    </a>
                    <p>premium bake rusk (300 gm)</p>
                    <h4>$5.00
                      <span>$7.00</span>
                    </h4>
                  </div>
                  <div class="snipcart-details">
                    <form action="#" method="post">
                      <fieldset>
                        <input type="hidden" name="cmd" value="_cart" />
                        <input type="hidden" name="add" value="1" />
                        <input type="hidden" name="business" value=" " />
                        <input type="hidden" name="item_name" value="premium bake rusk" />
                        <input type="hidden" name="amount" value="5.00" />
                        <input type="hidden" name="discount_amount" value="1.00" />
                        <input type="hidden" name="currency_code" value="USD" />
                        <input type="hidden" name="return" value=" " />
                        <input type="hidden" name="cancel_return" value=" " />
                        <input type="submit" name="submit" value="Add to cart" class="button" />
                      </fieldset>
                    </form>
                  </div>
                </div>
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="w3ls_w3l_banner_nav_right_grid1">
      <h6>Sản phẩm khác</h6>
      <div class="col-md-3 w3ls_w3l_banner_left">
        <div class="hover14 column">
          <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
            <div class="agile_top_brand_left_grid_pos">
              <img src="assets/images/offer.png" alt=" " class="img-responsive" />
            </div>
            <div class="agile_top_brand_left_grid1">
              <figure>
                <div class="snipcart-item block">
                  <div class="snipcart-thumb">
                    <a href="single.html">
                      <img src="assets/images/9.png" alt=" " class="img-responsive" />
                    </a>
                    <p>fresh spinach (palak)</p>
                    <h4>$2.00
                      <span>$3.00</span>
                    </h4>
                  </div>
                  <div class="snipcart-details">
                    <form action="#" method="post">
                      <fieldset>
                        <input type="hidden" name="cmd" value="_cart" />
                        <input type="hidden" name="add" value="1" />
                        <input type="hidden" name="business" value=" " />
                        <input type="hidden" name="item_name" value="fresh spinach" />
                        <input type="hidden" name="amount" value="2.00" />
                        <input type="hidden" name="discount_amount" value="1.00" />
                        <input type="hidden" name="currency_code" value="USD" />
                        <input type="hidden" name="return" value=" " />
                        <input type="hidden" name="cancel_return" value=" " />
                        <input type="submit" name="submit" value="Add to cart" class="button" />
                      </fieldset>
                    </form>
                  </div>
                </div>
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 w3ls_w3l_banner_left">
        <div class="hover14 column">
          <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
            <div class="agile_top_brand_left_grid_pos">
              <img src="assets/images/offer.png" alt=" " class="img-responsive" />
            </div>
            <div class="agile_top_brand_left_grid1">
              <figure>
                <div class="snipcart-item block">
                  <div class="snipcart-thumb">
                    <a href="single.html">
                      <img src="assets/images/10.png" alt=" " class="img-responsive" />
                    </a>
                    <p>fresh mango dasheri (1 kg)</p>
                    <h4>$5.00
                      <span>$8.00</span>
                    </h4>
                  </div>
                  <div class="snipcart-details">
                    <form action="#" method="post">
                      <fieldset>
                        <input type="hidden" name="cmd" value="_cart" />
                        <input type="hidden" name="add" value="1" />
                        <input type="hidden" name="business" value=" " />
                        <input type="hidden" name="item_name" value="fresh mango dasheri" />
                        <input type="hidden" name="amount" value="5.00" />
                        <input type="hidden" name="discount_amount" value="1.00" />
                        <input type="hidden" name="currency_code" value="USD" />
                        <input type="hidden" name="return" value=" " />
                        <input type="hidden" name="cancel_return" value=" " />
                        <input type="submit" name="submit" value="Add to cart" class="button" />
                      </fieldset>
                    </form>
                  </div>
                </div>
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 w3ls_w3l_banner_left">
        <div class="hover14 column">
          <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
            <div class="tag">
              <img src="assets/images/tag.png" alt=" " class="img-responsive" />
            </div>
            <div class="agile_top_brand_left_grid1">
              <figure>
                <div class="snipcart-item block">
                  <div class="snipcart-thumb">
                    <a href="single.html">
                      <img src="assets/images/11.png" alt=" " class="img-responsive" />
                    </a>
                    <p>fresh apple red (1 kg)</p>
                    <h4>$6.00
                      <span>$8.00</span>
                    </h4>
                  </div>
                  <div class="snipcart-details">
                    <form action="#" method="post">
                      <fieldset>
                        <input type="hidden" name="cmd" value="_cart" />
                        <input type="hidden" name="add" value="1" />
                        <input type="hidden" name="business" value=" " />
                        <input type="hidden" name="item_name" value="fresh apple red" />
                        <input type="hidden" name="amount" value="6.00" />
                        <input type="hidden" name="discount_amount" value="1.00" />
                        <input type="hidden" name="currency_code" value="USD" />
                        <input type="hidden" name="return" value=" " />
                        <input type="hidden" name="cancel_return" value=" " />
                        <input type="submit" name="submit" value="Add to cart" class="button" />
                      </fieldset>
                    </form>
                  </div>
                </div>
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 w3ls_w3l_banner_left">
        <div class="hover14 column">
          <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
            <div class="agile_top_brand_left_grid_pos">
              <img src="assets/images/offer.png" alt=" " class="img-responsive" />
            </div>
            <div class="agile_top_brand_left_grid1">
              <figure>
                <div class="snipcart-item block">
                  <div class="snipcart-thumb">
                    <a href="single.html">
                      <img src="assets/images/12.png" alt=" " class="img-responsive" />
                    </a>
                    <p>fresh broccoli (500 gm)</p>
                    <h4>$4.00
                      <span>$6.00</span>
                    </h4>
                  </div>
                  <div class="snipcart-details">
                    <form action="#" method="post">
                      <fieldset>
                        <input type="hidden" name="cmd" value="_cart" />
                        <input type="hidden" name="add" value="1" />
                        <input type="hidden" name="business" value=" " />
                        <input type="hidden" name="item_name" value="fresh broccoli" />
                        <input type="hidden" name="amount" value="4.00" />
                        <input type="hidden" name="discount_amount" value="1.00" />
                        <input type="hidden" name="currency_code" value="USD" />
                        <input type="hidden" name="return" value=" " />
                        <input type="hidden" name="cancel_return" value=" " />
                        <input type="submit" name="submit" value="Add to cart" class="button" />
                      </fieldset>
                    </form>
                  </div>
                </div>
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="w3ls_w3l_banner_nav_right_grid1">
      <h6>Sản phẩm mới</h6>
      <div class="col-md-3 w3ls_w3l_banner_left">
        <div class="hover14 column">
          <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
            <div class="agile_top_brand_left_grid_pos">
              <img src="assets/images/offer.png" alt=" " class="img-responsive" />
            </div>
            <div class="agile_top_brand_left_grid1">
              <figure>
                <div class="snipcart-item block">
                  <div class="snipcart-thumb">
                    <a href="single.html">
                      <img src="assets/images/13.png" alt=" " class="img-responsive" />
                    </a>
                    <p>mixed fruit juice (1 ltr)</p>
                    <h4>$3.00
                      <span>$4.00</span>
                    </h4>
                  </div>
                  <div class="snipcart-details">
                    <form action="#" method="post">
                      <fieldset>
                        <input type="hidden" name="cmd" value="_cart" />
                        <input type="hidden" name="add" value="1" />
                        <input type="hidden" name="business" value=" " />
                        <input type="hidden" name="item_name" value="mixed fruit juice" />
                        <input type="hidden" name="amount" value="3.00" />
                        <input type="hidden" name="discount_amount" value="1.00" />
                        <input type="hidden" name="currency_code" value="USD" />
                        <input type="hidden" name="return" value=" " />
                        <input type="hidden" name="cancel_return" value=" " />
                        <input type="submit" name="submit" value="Add to cart" class="button" />
                      </fieldset>
                    </form>
                  </div>
                </div>
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 w3ls_w3l_banner_left">
        <div class="hover14 column">
          <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
            <div class="agile_top_brand_left_grid_pos">
              <img src="assets/images/offer.png" alt=" " class="img-responsive" />
            </div>
            <div class="agile_top_brand_left_grid1">
              <figure>
                <div class="snipcart-item block">
                  <div class="snipcart-thumb">
                    <a href="single.html">
                      <img src="assets/images/14.png" alt=" " class="img-responsive" />
                    </a>
                    <p>prune juice - sunsweet (1 ltr)</p>
                    <h4>$4.00
                      <span>$5.00</span>
                    </h4>
                  </div>
                  <div class="snipcart-details">
                    <form action="#" method="post">
                      <fieldset>
                        <input type="hidden" name="cmd" value="_cart" />
                        <input type="hidden" name="add" value="1" />
                        <input type="hidden" name="business" value=" " />
                        <input type="hidden" name="item_name" value="prune juice - sunsweet" />
                        <input type="hidden" name="amount" value="4.00" />
                        <input type="hidden" name="discount_amount" value="1.00" />
                        <input type="hidden" name="currency_code" value="USD" />
                        <input type="hidden" name="return" value=" " />
                        <input type="hidden" name="cancel_return" value=" " />
                        <input type="submit" name="submit" value="Add to cart" class="button" />
                      </fieldset>
                    </form>
                  </div>
                </div>
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 w3ls_w3l_banner_left">
        <div class="hover14 column">
          <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
            <div class="tag">
              <img src="assets/images/tag.png" alt=" " class="img-responsive" />
            </div>
            <div class="agile_top_brand_left_grid1">
              <figure>
                <div class="snipcart-item block">
                  <div class="snipcart-thumb">
                    <a href="single.html">
                      <img src="assets/images/15.png" alt=" " class="img-responsive" />
                    </a>
                    <p>coco cola zero can (330 ml)</p>
                    <h4>$3.00
                      <span>$5.00</span>
                    </h4>
                  </div>
                  <div class="snipcart-details">
                    <form action="#" method="post">
                      <fieldset>
                        <input type="hidden" name="cmd" value="_cart" />
                        <input type="hidden" name="add" value="1" />
                        <input type="hidden" name="business" value=" " />
                        <input type="hidden" name="item_name" value="coco cola zero can" />
                        <input type="hidden" name="amount" value="3.00" />
                        <input type="hidden" name="discount_amount" value="1.00" />
                        <input type="hidden" name="currency_code" value="USD" />
                        <input type="hidden" name="return" value=" " />
                        <input type="hidden" name="cancel_return" value=" " />
                        <input type="submit" name="submit" value="Add to cart" class="button" />
                      </fieldset>
                    </form>
                  </div>
                </div>
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 w3ls_w3l_banner_left">
        <div class="hover14 column">
          <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
            <div class="agile_top_brand_left_grid_pos">
              <img src="assets/images/offer.png" alt=" " class="img-responsive" />
            </div>
            <div class="agile_top_brand_left_grid1">
              <figure>
                <div class="snipcart-item block">
                  <div class="snipcart-thumb">
                    <a href="single.html">
                      <img src="assets/images/16.png" alt=" " class="img-responsive" />
                    </a>
                    <p>sprite bottle (2 ltr)</p>
                    <h4>$3.00
                      <span>$4.00</span>
                    </h4>
                  </div>
                  <div class="snipcart-details">
                    <form action="#" method="post">
                      <fieldset>
                        <input type="hidden" name="cmd" value="_cart" />
                        <input type="hidden" name="add" value="1" />
                        <input type="hidden" name="business" value=" " />
                        <input type="hidden" name="item_name" value="sprite bottle" />
                        <input type="hidden" name="amount" value="3.00" />
                        <input type="hidden" name="discount_amount" value="1.00" />
                        <input type="hidden" name="currency_code" value="USD" />
                        <input type="hidden" name="return" value=" " />
                        <input type="hidden" name="cancel_return" value=" " />
                        <input type="submit" name="submit" value="Add to cart" class="button" />
                      </fieldset>
                    </form>
                  </div>
                </div>
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!-- //brands -->
