<div class="form-group " [class.has-error]="isError">

  <label class="cut-text" for="{{inputId}}" title="{{title}}">

    <i class="fa fa-times-circle-o" *ngIf="isError"></i>

    <span *ngIf="icon" class="{{icon}}"></span>

    {{title}}

    <span *ngIf="isRequired" class="requiredIndicator">*</span>
  </label>


  <div class="input-group">

    <input class="form-control" id="{{inputId}}" placeholder="{{placeHolder}}"
           [(ngModel)]="displayValue" (change)="inputValueChanged($event)" [disabled]="disabled" (blur)="onBlur($event)"
           (focus)="onFocus($event)"/>

    <span class="input-group-addon" (click)="inputIconClicked($event)"><i class="fa {{inputIcon}}"></i></span>

  </div>

  <span class="help-block" *ngIf="isError">{{errorMessage}}</span>

</div>
