<div class="products-breadcrumb">
  <div class="container">
    <ul>
      <li>
        <i class="fa fa-home fa-2x" aria-hidden="true"></i>
        <a href="index.html">Trang chủ</a>
        <span>|</span>
      </li>
      <li>Chúng tôi</li>
    </ul>
  </div>
</div>

<div class="banner">
  <div class="w3l_banner_nav_left">
    <nav class="navbar nav_bottom">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header nav_2">
        <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse"
                data-target="#bs-megadropdown-tabs">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->


      <app-web-left-side></app-web-left-side>

      <!-- /.navbar-collapse -->
    </nav>
  </div>
  <div class="w3l_banner_nav_right">
    <div class="mail">
      <h3>Liên hệ chúng tôi</h3>
      <div class="agileinfo_mail_grids">
        <div class="col-md-4 agileinfo_mail_grid_left">
          <ul>
            <li><i class="fa fa-home" aria-hidden="true"></i></li>
            <li>Địa chỉ<span>868 1st Avenue NYC.</span></li>
          </ul>
          <ul>
            <li><i class="fa fa-envelope" aria-hidden="true"></i></li>
            <li>Email<span><a href="mailto:info@example.com">info@example.com</a></span></li>
          </ul>
          <ul>
            <li><i class="fa fa-phone" aria-hidden="true"></i></li>
            <li>Hotline<span>(+84) 233 2362 826</span></li>
          </ul>
        </div>
        <div class="col-md-8 agileinfo_mail_grid_right">
          <form action="#" method="post">
            <div class="col-md-6 wthree_contact_left_grid">
              <input type="text" name="Tên" placeholder="Tên*" [(ngModel)]="this.form.name">
              <input type="email" name="Email" placeholder="Email*" [(ngModel)]="this.form.email"
              required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+">
            </div>
            <div class="col-md-6 wthree_contact_left_grid">
              <input type="text" name="Số điện thoại" placeholder="Số điện thoại*" [(ngModel)]="this.form.phone">
              <input type="text" name="Địa chỉ" placeholder="Địa chỉ*" [(ngModel)]="this.form.address">
            </div>
            <div class="clearfix"> </div>
            <textarea  name="Nội dung yêu cầu" placeholder="Nội dung yêu cầu..."
                       [(ngModel)]="this.form.comment"></textarea>
            <input type="submit" value="Gửi yêu cầu" (click)="sentRequest()">
            <input type="reset" value="Làm mới">
          </form>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d96748.15352429623!2d-74.25419879353115!3d40.731667701988506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sshopping+mall+in+New+York%2C+NY%2C+United+States!5e0!3m2!1sen!2sin!4v1467205237951" style="border:0"></iframe>
</div>
<div class="newsletter">
  <div class="container">
    <div class="w3agile_newsletter_left">
      <h3>sign up for our newsletter</h3>
    </div>
    <div class="w3agile_newsletter_right">
      <form action="#" method="post">
        <input type="email" name="Email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
        <input type="submit" value="subscribe now">
      </form>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
