<!-- header -->
<div class="agileits_header">
  <div class="product_list_header" style="margin-top:10px;">
    <a href="products.html" style="text-decoration: underline; color:white">Sản phẩm bán chạy |</a>
    <a href="products.html" style="text-decoration: underline; color:white">Sản phẩm khuyến mại |</a>
    <a href="products.html" style="text-decoration: underline; color:white">Sản phẩm mới</a>
    <img style="margin:-4px 0 0 2px;" src="http://fptcamera.vn/resources/ui_images/client/background/new.gif">
  </div>

  <div class="w3l_search">
    <form action="#" method="post">
      <input type="text" name="Product" value="Tìm kiếm sản phẩm..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search a product...';}"
             required="">
      <input type="submit" value=" ">
    </form>
  </div>

  <div class="w3l_header_right1">
    <h2>
      <a href="mail.html">Liên hệ</a>
    </h2>
  </div>
  <div class="clearfix"> </div>
</div>

<div class="logo_products">
  <div class="container">
    <div class="w3ls_logo_products_left">
      <h1 style="font-weight: bolder">
        <a href="index.html" style="color: #EE2424">
          <span>Shop</span> CAMERA</a>
      </h1>
    </div>
    <div class="w3ls_logo_products_left1">
      <img style="width:100%;margin-top:25px;" alt="Cam kết dịch vụ" src="http://fptcamera.vn/resources/ui_images/client/background/promise.png">
    </div>
    <div class="w3ls_logo_products_left1">
      <ul class="phone_email">
        <li>
          <i class="fa fa-phone" aria-hidden="true"></i>Tư vấn lắp đặt :
          <a href="tel:0966 543 456" style="font-weight:bolder; color: #EE2424; font-size: larger">0966543456</a>
        </li>
      </ul>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
<div class="logo_product">
  <div class="container">
    <div class="w3ls_logo_products_left10">
      Trang chủ
    </div>
    <div class="w3ls_logo_products_left10">
      Giới thiệu
    </div>
    <div class="w3ls_logo_products_left10">
      Giải pháp
    </div>
    <div class="w3ls_logo_products_left10">
      Hỗ trợ kỹ thuật
    </div>

    <div class="w3ls_logo_products_left10">
      Tuyển dụng
    </div>
    <div class="w3ls_logo_products_left10">
      Đại lý
    </div>
    <div class="w3ls_logo_products_left10">
      Trung tâm đào tạo
    </div>
    <div class="w3ls_logo_products_left10">
      Liên hệ
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
<!-- //header -->
