<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Cấu hình giao diện
    <small>Cấu hình thêm UI</small>
  </h1>
</section>

<!-- Main content -->
<section class="content">

  <!-- Your Page Content Here -->


  <div class="box">

    <div class="box-body">

      <div class="row">
        <div class="col-md-6">
          <button type="button" class="btn btn-primary btn-md" (click)="addNew($event)">Thêm mới</button>
        </div>
      </div>

      <br>


      <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
      <div class="col-sm-6">

        <table id="example2" class="table table-bordered table-hover dataTable" role="grid"
               aria-describedby="example2_info">
          <thead>
          <tr role="row">

            <th>Loại</th>
            <th>Nội dung</th>
            <th>Trạng thái</th>
            <th></th>

          </tr>
          </thead>
          <tbody>

          <ng-container *ngFor="let homeHeader of listHomeHeader; trackBy: homeHeader?.id">
            <tr role="row">

              <td>{{homeHeader.nameHeader}}</td>
              <td>{{homeHeader.contentHeader}}</td>
              <td><app-check-box [value]="homeHeader.flag" (valueChange)="changeHomeView(homeHeader)"></app-check-box></td>
              <td class="text-center">

                <a class="btn btn-social-icon btn-bitbucket btn-xs" (click)="deleteHomeHeader($event, homeHeader)"
                   title="Xóa sản phẩm">
                  <i class="fa fa-remove"></i>
                </a>
              </td>

            </tr>
          </ng-container>

          </tbody>

        </table>

      </div>
    </div>

  </div>

</section>
<!-- /.content -->
