.box{
  border: 1px solid #d2d6de !important;
  margin-bottom: -1px !important;
  border-radius: 0px !important;
}

.box-header {
  padding: 6px !important;
}


.btn-tool {
  border-color: #055fff;
  background-color: #69B1FA;
  background: linear-gradient(to bottom,#69B1FA,#0D80FF);
  color: #fff;
}

