<!-- footer -->
<div class="footer">
  <div class="container">
    <div class="col-xs-6 col-md-6">
      <div class="f-address">
        <p>
						<span style="color:#ff6600;">
							<strong>LẮP ĐẶT CAMERA&nbsp;DỊCH VỤ&nbsp;FPT&nbsp;&nbsp;VIỆT NAM TẠI HÀ NỘI</strong>
						</span>
          <span style="color:#FF8C00;">
							<strong>&nbsp;</strong>
						</span>
          <br> Địa chỉ :
          <span style="color:#FFD700;">Số 12 Ngõ 18/46 Định Công Thượng, Q.Hoàng Mai, TP. Hà Nội</span>
          <br> Điện thoại :
          <span style="color:#FFD700;">024&nbsp;6328 2964 &nbsp;- 0919 654 688</span>
          <br> Website :
          <span style="color:#FFD700;">http://fptcamera.vn</span>
        </p>

        <p>
          <strong>
            <span style="color:#ff6600;">LẮP ĐẶT CAMERA CHI NHÁNH QUẢNG NINH</span>
          </strong>
          <br> Địa chỉ :
          <span style="color:#FFD700;">Số 42 Trần Hưng Đạo, TP. Hạ Long, Quảng Ninh</span>
          <br> Điện thoại :&nbsp;
          <span style="color:#FFD700;">&nbsp; 0964 782 978</span>
        </p>

        <p>
          <strong>
            <span style="color: rgb(255, 102, 0);">LẮP ĐẶT CAMERA CHI NHÁNH TP.HCM</span>
          </strong>
          <br> Địa chỉ :&nbsp;
          <span style="color: rgb(255, 215, 0);">Số 81 Nguyễn Oanh, Quận Gò Vấp, TP.HCM</span>
          <br> Điện thoại :&nbsp;
          <span style="color: rgb(255, 215, 0);">&nbsp;&nbsp;</span>
          <span style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 12.8px;">&nbsp;</span>
          <span style="color: rgb(255, 215, 0);">0907 903 171</span>
        </p>
      </div>
    </div>
    <div class="col-xs-6 col-md-6">
      <div class="f-address">
        <p>
          <span style="color:#FF8C00;">Giới thiệu dịch vụ </span>
          <a href="https://sites.google.com/site/camerafptvietnam/">
            <span style="color:#FF8C00;">lắp đặt camera</span>
          </a>
          <span style="color:#FF8C00;"> của FPT Việt Nam</span>
        </p>

        <p>
          <em>Trước nhu cầu của thị trường và mở rộng ngành dịch vụ Công ty FPT Việt Nam được sáng lập hoạt động kết hợp với Tập
            đoàn FPT triển khai lắp đặt Internet Cáp quang – Camera giám sát tại&nbsp;khắp các tỉnh thành cả nước. "Hiện chúng
            tôi đang phát triển kết hợp với một số
            <strong>đơn vị lắp đặt camera uy tín</strong> tạo nên một thị trường dịch vụ công nghệ uy tín trên toàn quốc".</em>
        </p>

        <p style="text-align: right;">
          <img alt="camera fpt đang ký bộ công thương" src="images/camera-fpt-thong-bao-bo-cong-thuong.png">
        </p>
        <p>&nbsp;</p>
      </div>
    </div>
    <div class="clearfix"> </div>
    <div class="agile_footer_grids">
      <div class="col-md-12 w3_footer_grid agile_footer_grids_w3_footer">
        <div class="w3_footer_grid_bottom" style="text-align: center">
          <h5>Liên hệ với chúng tôi</h5>
          <ul class="agileits_social_icons">
            <li>
              <a href="#" class="facebook">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#" class="twitter">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#" class="google">
                <i class="fa fa-google-plus" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#" class="instagram">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#" class="dribbble">
                <i class="fa fa-dribbble" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="wthree_footer_copy">
      <p>© Copyright © 2015. All Rights Reserved
        <a href="http://w3layouts.com/">by FPT CAMERA</a>
      </p>
    </div>
  </div>
</div>
<!-- //footer -->


