<div class="products-breadcrumb">
  <div class="container">
    <ul>
      <li>
        <i class="fa fa-home fa-2x" aria-hidden="true"></i>
        <a href="index.html">Trang chủ</a>
        <span>|</span>
      </li>
      <li>Danh sách sản phẩm</li>
    </ul>
  </div>
</div>

<div class="banner">
  <div class="w3l_banner_nav_left">
    <nav class="navbar nav_bottom">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header nav_2">
        <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse"
                data-target="#bs-megadropdown-tabs">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->


      <app-web-left-side></app-web-left-side>

      <!-- /.navbar-collapse -->
    </nav>
  </div>
  <div class="w3l_banner_nav_right">

    <div class="col-md-12 header4">
      <h1>{{this.categoryName}}</h1>
      <h2 style="display:none;">{{this.categoryName}}</h2>

      <div class="clear"></div>
      <select style="float:right;margin-top:3px;" onchange="this.options[this.selectedIndex].value &amp;&amp; (window.location = this.options[this.selectedIndex].value);">
        <option value="http://fptcamera.vn/camera-dahua">Sắp xếp theo</option>
        <option value="http://fptcamera.vn/camera-dahua/?o=p-asc">Giá tăng dần</option>
        <option value="http://fptcamera.vn/camera-dahua/?o=p-desc">Giá giảm dần</option>
      </select>
    </div>
    <!-- brands -->
    <div class="col-md-12 col-xs-12" style="text-align: center">
      <div class="paddingDiv centerListProduct">

        <ng-container *ngFor="let product of this.productList">

        <div class="col-md-3 w3ls_w3l_banner_left paddingListProduct">
          <div class="hover14 column">
            <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
              <div class="agile_top_brand_left_grid1">
                <figure>
                  <div class="snipcart-item block">
                    <div class="snipcart-thumb">
                      <a (click)="goToChiTietSanPham($event,product)">
                        <img src="assets/images/{{product.image1}}.png" alt=" " class="img-responsive" width="140" height="140"/>
                      </a>
                      <p>{{product.name}}</p>
                      <h4>{{product.gia}} Đ
                        <span>{{product.giaTruocKhiHa}} Đ</span>
                      </h4>
                    </div>
                    <div class="snipcart-details">
                      <form action="#" method="post">
                        <fieldset>
                          <input type="hidden" name="cmd" value="_cart"/>
                          <input type="hidden" name="add" value="1"/>
                          <input type="hidden" name="business" value=" "/>
                          <input type="hidden" name="item_name" value="knorr instant soup"/>
                          <input type="hidden" name="amount" value="3.00"/>
                          <input type="hidden" name="discount_amount" value="1.00"/>
                          <input type="hidden" name="currency_code" value="USD"/>
                          <input type="hidden" name="return" value=" "/>
                          <input type="hidden" name="cancel_return" value=" "/>
                          <input type="submit" name="submit" value="Mua ngay" class="button"/>
                        </fieldset>
                      </form>
                    </div>
                  </div>
                </figure>
              </div>
            </div>
          </div>
        </div>
        </ng-container>
        <div class="clearfix"></div>

        <div style="text-align: left">
          <ul class="pagination">
            <li class="page-item disabled"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">...</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item"><a class="page-link" href="#">...</a></li>
            <li class="page-item"><a class="page-link" href="#">99</a></li>
          </ul>
        </div>
      </div>

    </div>

    <!-- //brands -->

  </div>
  <div class="clearfix"></div>
</div>

