<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Danh mục Phản hồi
    <small>Quản lí Phản hồi</small>
  </h1>
</section>

<!-- Main content -->
<section class="content">

  <!-- Your Page Content Here -->

  <div class="box">

    <div class="box-body">

      <div class="col-md-3">

        <app-input-text [title]="'Tên'" [(value)]="filterForm.sName" [placeHolder]="'Tên'"></app-input-text>
      </div>

      <div class="col-md-3">
        <app-input-text [title]="'Email'" [(value)]="filterForm.sEmail" [placeHolder]="'Email'"></app-input-text>
      </div>

      <div class="col-md-3">
        <app-input-text [title]="'Phone'" [(value)]="filterForm.sPhone" [placeHolder]="'Phone'"></app-input-text>
      </div>

      <div class="col-md-3">
        <app-input-text [title]="'Địa chỉ'" [(value)]="filterForm.sAddress" [placeHolder]="'Địa chỉ'"></app-input-text>
      </div>

      <div class="col-md-3">

        <app-select [title]="'Trạng thái'" [(value)]="filterForm.status" [placeHolder]="'Chọn trạng thái'"
                    [data]="statusList" [optionKey]="'id'" [optionValue]="'name'">
        </app-select>
      </div>

    </div>

    <div class="box-footer">
      <button type="submit" class="btn btn-info pull-right" (click)="search($event)">Tìm kiếm</button>
    </div>

  </div>

  <div class="box">

    <div class="box-body">

      <div class="row">
        <div class="col-md-2">
          <button type="button" class="btn btn-primary btn-md" (click)="addNew($event)">Thêm mới</button>
        </div>
      </div>

      <br>

      <div class="row">

        <div class="col-sm-12">

          <table id="example2" class="table table-bordered table-hover dataTable" role="grid"
                 aria-describedby="example2_info">
            <thead>
            <tr role="row">

              <th class="{{getSortingClass('name')}}" (click)="doSort('name')" tabindex="0">Tên</th>
              <th class="{{getSortingClass('email')}}" (click)="doSort('email')" tabindex="0">Email</th>
              <th class="{{getSortingClass('phone')}}" (click)="doSort('phone')" tabindex="0">Phone</th>
              <th class="{{getSortingClass('address')}}" (click)="doSort('address')" tabindex="0">Địa chỉ</th>
              <th class="{{getSortingClass('comment')}}" (click)="doSort('comment')" tabindex="0">Comment</th>
              <th tabindex="0">Trạng thái</th>

              <th></th>

            </tr>
            </thead>
            <tbody>

            <ng-container *ngFor="let item of items">
              <tr role="row">

                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td>{{item.phone}}</td>
                <td>{{item.address}}</td>
                <td [title]="item.comment">{{getShortContent(item.comment, 100)}}</td>
                <td>{{getStatusTitle(item.status)}}</td>

                <td class="text-center">

                  <a class="btn btn-social-icon btn-bitbucket btn-xs" (click)="updateStatus($event, item)"
                     title="Đánh dấu đã xem">
                    <i class="fa fa-check"></i>
                  </a>

                  <a class="btn btn-social-icon btn-bitbucket btn-xs" (click)="delete($event, item)"
                     title="Xóa phản hồi">
                    <i class="fa fa-remove"></i>
                  </a>

                </td>

              </tr>
            </ng-container>

            </tbody>

          </table>

          <app-pagination-footer [dataSize]="count" [maxPageSize]="maxPageSize" [pageIndex]="curPageIndex"
                                 (goToPage)="goToPage($event)">
          </app-pagination-footer>

        </div>

      </div>

    </div>

  </div>

</section>
<!-- /.content -->
