.backGroundColorOrange{
  background: #ff8600 !important;
}
.slogan a{
  text-decoration: none;
}
.slogan a:hover{
  text-decoration: none;
}

.act-underline{
  font-family: aachenb;
}

.responsive-menu > ul li a{
  font-family: aachenb inherit;
}
