.social-claim {
  background: #fd0;
  border-radius: 5px;
  padding: 15px;
}

.social-claim .claim_header {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
}

.social-claim .claim {
  font-size: 13px;
  color: #333;
  background: url('../images/claim.png') no-repeat left center;
  padding-left: 40px;
  margin: 18px 0;
}

.social-claim2 .claim_header {
  background: #fd0;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
}

#social_us {
  border-top: 2px dashed #e1e1e1;
  padding: 6px;
}

#social_us .social_us_header {
  font-size: 12px;
  color: #333;
  text-transform: uppercase;
}

.social-claim2 ul {
  padding-left: 5px;
  list-style: url('../images/list-style.png') inside;
}

.social-claim2 ul a {
  font-size: 13px;
  color: #555;
  margin: 10px 4px;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  color: #337ab7;
  text-decoration: none;
}

.f-address {
  font-size: 14px;
  color: #fff;
}

.logo_product {
}

.w3ls_logo_products_left10 {
  float: right;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  color: #D32F2F;
  font-weight: bolder;
  border-left: 1px solid #FFCDD2;
  border-right: 1px solid #FFCDD2;
  text-align: center;
}

.w3ls_logo_search_left10 {
  float: right;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  color: #473a3d;
  text-align: center;
}

.w3ls_logo_products_left10:hover {
  color: rgb(129, 47, 47);
  font-weight: bolder;
}

.imageView {
  padding: 1px;
}

.configBorder {
  padding-bottom: 5px;
}

.processImage {
  border-radius: 4px;
}

.process_category {
  text-align: center;
  background: aqua;
  background: url(../images/top.gif) right;
  padding-right: 10px;
  height: 31px;
  line-height: 31px;
  font-weight: bold;
}

.process_category .p {
  color: #e60003;
}

.active .dropdown-toggle {
  font-weight: bold;
  color: #005d91;
}

.active .dropdown-toggle:hover {
  color: #e60003;
  background-color: #F5F5F5 !important;
}

.titleView {

  /*max-height: 50px;*/
}

.tableSupport {
  width: 100%;
}

.trSupport:hover {
  background: rgb(228, 228, 228);
  font-weight: bolder;
}

.iconSupport {
  text-align: right;
  width: 25%;
  padding: 3px;
}

.contentSupport {
  width: 75%;
}

.confixByThread {
  font-weight: bolder;
  color: rgb(77, 76, 76);
}

.confixByTbody {
  color: rgb(97, 96, 96) !important;
}

.confixByP {
  color: rgb(97, 96, 96) !important;
}

.confixByH4 {
  font-weight: bolder;
}

.paddingDiv {
  padding-top: 20px;
}
.paddingLeftPaddingRight{
  padding-left: 20px;
  padding-right: 20px
}

.paddingDivAll20Px {
  padding: 20px;
}

.paddingDivBottom {
  padding-bottom: 20px;
}

.confixBorderTop{
  border-top: 1px solid #CCCCCC;
}

.paddingListProduct {
  padding-bottom: 10px;
}

.centerListProduct{
  padding-left: 20px;
}


.header4 {
  border-bottom: 1px solid #ebebeb;
  margin: 10px 0;
  position: relative;
  display: block;
}

.header4 h1 {
  display: block;
  float: left;
  background: #ec252d;
  padding: 5px 10px;
  font-size: 18px;
  margin: 0;
  color: #fff;
  text-transform: uppercase;
}

h6 .text_align_left{
  text-align: left;
}

.products_padding_content{
  padding-top:0.5em;
}

.text-center-align{
  text-align: center;
}

.margin-top-20{
  margin-top: 20px;
}

.confixHoverSubCategory:hover .cssHeaderCategory{
  color: #fe293f;
}

.border-style-table-giaiphap{
  border: 1px solid #b9f2f5;
}
.tieuDeTinMoiNhat{
  border: 1px solid #c2cdce;
  background-color: #F5F5F5;
  padding-left: 5px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-weight: bold;
  color: #e20000;
  text-decoration: none;
  font-family: tahoma, Arial;
  font-size: 11px;
}

.listcat{
  background: url(../images/4.gif) no-repeat 5px 10px;
  background-color: rgba(0, 0, 0, 0);
  padding-left: 15px;
  border-bottom: dotted 1px #dedede;
  background-color: #f9f9f9;
  padding-top: 5px;
  padding-bottom: 5px;
}

.listcat a {
  font-weight: normal;
  color: #033b7f;
  line-height: 16px;
}

.listcat a:hover {
  color: #df741c;
  }

.confixImageProductHome img {
  width: auto;
  max-width: 100%;
  max-height: 100%;
  height: 250px;
}

.confixPadding20px img {
  width: 100%;
  height: 100%;
  border: solid 1px #CCCCCC;
}

.confixPadding20px img:hover {

  border: solid 1px #606060;
}

.confixImage img{
  width: 60px;
  height: 30px;
}

.confixPadding20px{
  padding: 20px 0px 0px 0px;
}

.confixPaddingTopBottom20px{
  padding: 20px 0px 10px 0px;
}

.confixMargin20px{
  margin: 20px 0px 0px 10px;
}

.changeFontColorBlack a{
  font-size: 18px !important;
  color: #414042 !important;
}

.changeFontColorBlack a:hover{
  text-decoration: underline;
}

.agile_top_brand_left_grid1 h4, .agileinfo_single_right_snipcart h4 {
   font-size: 20px !important;
   color: #ec252d !important;
   font-weight: bold !important;
   display: block !important;
 }

.agile_top_brand_left_grid1 span, .agileinfo_single_right_snipcart span {
  font-size: 14px !important;
  color: #000 !important;
  display: block !important;
}

.viewmore a {
  background: url(../images/xemtiep.png) no-repeat right;
  padding-right: 10px;
  font-size: 12px;
  font-family: tahoma, Arial;
  color: #0178BA;
}

.padding10px{
  padding-bottom: 8px !important;
}

.fixHeigth45px{
  height: 45px;
  overflow: hidden;
}

.fixHeigth90px{
  height: 90px;
  overflow: hidden;
}

.cssHeaderCategoryImages{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-size: 0;
}


.cssHeaderSubCategoryImages{
  max-width: 100px;
  height: auto;
  vertical-align: middle;
  font-size: 0;
}

.cssHeaderCategory{
  font-family: Raleway,sans-serif important;
  text-align: center !important;
  font-weight: 900 !important;
  color: #212322;
  font-size: 18px !important;
  margin-top: 15px !important;
  max-width: 300px;
  margin: auto;
}

.titleDivCategory{
  background: url('../images/line.png') repeat-x center center !important;
  text-align: center !important;
  margin-top: 25px !important;
  margin-bottom: 20px !important;
}


.titleDivCategory .contentDivCategory {
  color: #343434 !important;
  font-family: Arial,sans-serif important;
  font-weight: bold !important;
  font-size: 25px !important;
  text-align: center !important;
  background-color: #fff !important;
  width: auto !important;
  margin: 0 auto !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.titleCommon h4{
  color: #1c1c1c;
  font-weight: bolder;
  font-size: 22px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  font-family: MuseoSansCyrl-900,sans-serif;
  padding: 0 0 10px;
  margin: 0;
}

.confixElementLi li{
  list-style: inside;
  padding-left: 10px;
  color: #606060;
}

.confixElementLi{
  padding-top: 10px;

}

.thayDoiCSSGiaTruocKhiHa{
  color: #939598;
  font-size: 13px;
}

.thayDoiCSSGiaBan{
  font-size: 20px;
  color: #F26522;
  font-weight: bold;
}

.thayDoiCSSGiaKhuyenMai{
  font-size: 13px;
  font-weight: bold;
  color: #636363;
}

.confixTextRight{
  text-align: right;
}

.confixPaddingProduct{
  /*padding: 10px;*/
  border: solid 1px #CCCCCC;

}

.confixPaddingProduct:hover{
  -webkit-box-shadow: 1px 1px 5px 1px rgba(122,120,148,0.47);
  -moz-box-shadow: 1px 1px 5px 1px rgba(122,120,148,0.47);
  box-shadow: 1px 1px 5px 1px rgba(122,120,148,0.47);
}
.quick-alo-phone.quick-alo-static {
  opacity:.6;
}

.quick-alo-phone.quick-alo-hover,
.quick-alo-phone:hover {
  opacity:1;
}

.quick-alo-ph-circle {
  width:160px;
  height:160px;
  top:20px;
  left:20px;
  position:absolute;
  background-color:transparent;
  -webkit-border-radius:100%;
  -moz-border-radius:100%;
  border-radius:100%;
  border:2px solid rgba(30,30,30,0.4);
  border:2px solid #bfebfc 9;
  opacity:.1;
  -webkit-animation:quick-alo-circle-anim 1.2s infinite ease-in-out;
  -moz-animation:quick-alo-circle-anim 1.2s infinite ease-in-out;
  -ms-animation:quick-alo-circle-anim 1.2s infinite ease-in-out;
  -o-animation:quick-alo-circle-anim 1.2s infinite ease-in-out;
  animation:quick-alo-circle-anim 1.2s infinite ease-in-out;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  -o-transition:all .5s;
  transition:all .5s;
  -webkit-transform-origin:50% 50%;
  -moz-transform-origin:50% 50%;
  -ms-transform-origin:50% 50%;
  -o-transform-origin:50% 50%;
  transform-origin:50% 50%;
}

.quick-alo-phone.quick-alo-active .quick-alo-ph-circle {
  -webkit-animation:quick-alo-circle-anim 1.1s infinite ease-in-out !important;
  -moz-animation:quick-alo-circle-anim 1.1s infinite ease-in-out !important;
  -ms-animation:quick-alo-circle-anim 1.1s infinite ease-in-out !important;
  -o-animation:quick-alo-circle-anim 1.1s infinite ease-in-out !important;
  animation:quick-alo-circle-anim 1.1s infinite ease-in-out !important;
}

.quick-alo-phone.quick-alo-static .quick-alo-ph-circle {
  -webkit-animation:quick-alo-circle-anim 2.2s infinite ease-in-out !important;
  -moz-animation:quick-alo-circle-anim 2.2s infinite ease-in-out !important;
  -ms-animation:quick-alo-circle-anim 2.2s infinite ease-in-out !important;
  -o-animation:quick-alo-circle-anim 2.2s infinite ease-in-out !important;
  animation:quick-alo-circle-anim 2.2s infinite ease-in-out !important;
}

.quick-alo-phone.quick-alo-hover .quick-alo-ph-circle,
.quick-alo-phone:hover .quick-alo-ph-circle {
  border-color:#00aff2;
  opacity:.5;
}

.quick-alo-phone.quick-alo-green.quick-alo-hover .quick-alo-ph-circle,
.quick-alo-phone.quick-alo-green:hover .quick-alo-ph-circle {
  border-color:#75eb50;
  border-color:#baf5a7 9;
  opacity:.5;
}

.quick-alo-phone.quick-alo-green .quick-alo-ph-circle {
  border-color:#00aff2;
  border-color:#bfebfc 9;
  opacity:.5;
}

.quick-alo-phone.quick-alo-gray.quick-alo-hover .quick-alo-ph-circle,
.quick-alo-phone.quick-alo-gray:hover .quick-alo-ph-circle {
  border-color:#ccc;
  opacity:.5;
}

.quick-alo-phone.quick-alo-gray .quick-alo-ph-circle {
  border-color:#75eb50;
  opacity:.5;
}

.quick-alo-ph-circle-fill {
  width:100px;
  height:100px;
  top:50px;
  left:50px;
  position:absolute;
  background-color:#000;
  -webkit-border-radius:100%;
  -moz-border-radius:100%;
  border-radius:100%;
  border:2px solid transparent;
  opacity:.1;
  -webkit-animation:quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -moz-animation:quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -ms-animation:quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -o-animation:quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
  animation:quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  -o-transition:all .5s;
  transition:all .5s;
  -webkit-transform-origin:50% 50%;
  -moz-transform-origin:50% 50%;
  -ms-transform-origin:50% 50%;
  -o-transform-origin:50% 50%;
  transform-origin:50% 50%;
}

.quick-alo-phone.quick-alo-active .quick-alo-ph-circle-fill {
  -webkit-animation:quick-alo-circle-fill-anim 1.7s infinite ease-in-out !important;
  -moz-animation:quick-alo-circle-fill-anim 1.7s infinite ease-in-out !important;
  -ms-animation:quick-alo-circle-fill-anim 1.7s infinite ease-in-out !important;
  -o-animation:quick-alo-circle-fill-anim 1.7s infinite ease-in-out !important;
  animation:quick-alo-circle-fill-anim 1.7s infinite ease-in-out !important;
}

.quick-alo-phone.quick-alo-static .quick-alo-ph-circle-fill {
  -webkit-animation:quick-alo-circle-fill-anim 2.3s infinite ease-in-out !important;
  -moz-animation:quick-alo-circle-fill-anim 2.3s infinite ease-in-out !important;
  -ms-animation:quick-alo-circle-fill-anim 2.3s infinite ease-in-out !important;
  -o-animation:quick-alo-circle-fill-anim 2.3s infinite ease-in-out !important;
  animation:quick-alo-circle-fill-anim 2.3s infinite ease-in-out !important;
  opacity:0 !important;
}

.quick-alo-phone.quick-alo-hover .quick-alo-ph-circle-fill,
.quick-alo-phone:hover .quick-alo-ph-circle-fill {
  background-color:rgba(0,175,242,0.5);
  background-color:#00aff2 9;
  opacity:.75 !important;
}

.quick-alo-phone.quick-alo-green.quick-alo-hover .quick-alo-ph-circle-fill,
.quick-alo-phone.quick-alo-green:hover .quick-alo-ph-circle-fill {
  background-color:rgba(117,235,80,0.5);
  background-color:#baf5a7 9;
  opacity:.75 !important;
}

.quick-alo-phone.quick-alo-green .quick-alo-ph-circle-fill {
  background-color:rgba(0,175,242,0.5);
  background-color:#a6e3fa 9;
  opacity:.75 !important;
}

.quick-alo-phone.quick-alo-gray.quick-alo-hover .quick-alo-ph-circle-fill,
.quick-alo-phone.quick-alo-gray:hover .quick-alo-ph-circle-fill {
  background-color:rgba(204,204,204,0.5);
  background-color:#ccc 9;
  opacity:.75 !important;
}

.quick-alo-phone.quick-alo-gray .quick-alo-ph-circle-fill {
  background-color:rgba(117,235,80,0.5);
  opacity:.75 !important;
}

.quick-alo-ph-img-circle {
  width:60px;
  height:60px;
  top:70px;
  left:70px;
  position:absolute;
  background:rgba(30,30,30,0.1) url("http://i.imgur.com/sM1nubF.png") no-repeat center center;
  -webkit-border-radius:100%;
  -moz-border-radius:100%;
  border-radius:100%;
  border:2px solid transparent;
  opacity:.7;
  -webkit-animation:quick-alo-circle-img-anim 1s infinite ease-in-out;
  -moz-animation:quick-alo-circle-img-anim 1s infinite ease-in-out;
  -ms-animation:quick-alo-circle-img-anim 1s infinite ease-in-out;
  -o-animation:quick-alo-circle-img-anim 1s infinite ease-in-out;
  animation:quick-alo-circle-img-anim 1s infinite ease-in-out;
  -webkit-transform-origin:50% 50%;
  -moz-transform-origin:50% 50%;
  -ms-transform-origin:50% 50%;
  -o-transform-origin:50% 50%;
  transform-origin:50% 50%;
}

.quick-alo-phone.quick-alo-active .quick-alo-ph-img-circle {
  -webkit-animation:quick-alo-circle-img-anim 1s infinite ease-in-out !important;
  -moz-animation:quick-alo-circle-img-anim 1s infinite ease-in-out !important;
  -ms-animation:quick-alo-circle-img-anim 1s infinite ease-in-out !important;
  -o-animation:quick-alo-circle-img-anim 1s infinite ease-in-out !important;
  animation:quick-alo-circle-img-anim 1s infinite ease-in-out !important;
}

.quick-alo-phone.quick-alo-static .quick-alo-ph-img-circle {
  -webkit-animation:quick-alo-circle-img-anim 0s infinite ease-in-out !important;
  -moz-animation:quick-alo-circle-img-anim 0s infinite ease-in-out !important;
  -ms-animation:quick-alo-circle-img-anim 0s infinite ease-in-out !important;
  -o-animation:quick-alo-circle-img-anim 0s infinite ease-in-out !important;
  animation:quick-alo-circle-img-anim 0s infinite ease-in-out !important;
}

.quick-alo-phone.quick-alo-hover .quick-alo-ph-img-circle,
.quick-alo-phone:hover .quick-alo-ph-img-circle {
  background-color:#00aff2;
}

.quick-alo-phone.quick-alo-green.quick-alo-hover .quick-alo-ph-img-circle,
.quick-alo-phone.quick-alo-green:hover .quick-alo-ph-img-circle {
  background-color:#75eb50;
  background-color:#75eb50 9;
}

.quick-alo-phone.quick-alo-green .quick-alo-ph-img-circle {
  background-color:#00aff2;
  background-color:#00aff2 9;
}

.quick-alo-phone.quick-alo-gray.quick-alo-hover .quick-alo-ph-img-circle,
.quick-alo-phone.quick-alo-gray:hover .quick-alo-ph-img-circle {
  background-color:#ccc;
}

.quick-alo-phone.quick-alo-gray .quick-alo-ph-img-circle {
  background-color:#75eb50;
}

@-moz-keyframes quick-alo-circle-anim {
  0% {
    -moz-transform:rotate(0) scale(.5) skew(1deg);
    opacity:.1;
    -moz-opacity:.1;
    -webkit-opacity:.1;
    -o-opacity:.1;
  }
  30% {
    -moz-transform:rotate(0) scale(.7) skew(1deg);
    opacity:.5;
    -moz-opacity:.5;
    -webkit-opacity:.5;
    -o-opacity:.5;
  }
  100% {
    -moz-transform:rotate(0) scale(1) skew(1deg);
    opacity:.6;
    -moz-opacity:.6;
    -webkit-opacity:.6;
    -o-opacity:.1;
  }
}

@-webkit-keyframes quick-alo-circle-anim {
  0% {
    -webkit-transform:rotate(0) scale(.5) skew(1deg);
    -webkit-opacity:.1;
  }
  30% {
    -webkit-transform:rotate(0) scale(.7) skew(1deg);
    -webkit-opacity:.5;
  }
  100% {
    -webkit-transform:rotate(0) scale(1) skew(1deg);
    -webkit-opacity:.1;
  }
}

@-o-keyframes quick-alo-circle-anim {
  0% {
    -o-transform:rotate(0) kscale(.5) skew(1deg);
    -o-opacity:.1;
  }
  30% {
    -o-transform:rotate(0) scale(.7) skew(1deg);
    -o-opacity:.5;
  }
  100% {
    -o-transform:rotate(0) scale(1) skew(1deg);
    -o-opacity:.1;
  }
}

@-moz-keyframes quick-alo-circle-fill-anim {
  0% {
    -moz-transform:rotate(0) scale(.7) skew(1deg);
    opacity:.2;
  }
  50% {
    -moz-transform:rotate(0) -moz-scale(1) skew(1deg);
    opacity:.2;
  }
  100% {
    -moz-transform:rotate(0) scale(.7) skew(1deg);
    opacity:.2;
  }
}

@-webkit-keyframes quick-alo-circle-fill-anim {
  0% {
    -webkit-transform:rotate(0) scale(.7) skew(1deg);
    opacity:.2;
  }
  50% {
    -webkit-transform:rotate(0) scale(1) skew(1deg);
    opacity:.2;
  }
  100% {
    -webkit-transform:rotate(0) scale(.7) skew(1deg);
    opacity:.2;
  }
}

@-o-keyframes quick-alo-circle-fill-anim {
  0% {
    -o-transform:rotate(0) scale(.7) skew(1deg);
    opacity:.2;
  }
  50% {
    -o-transform:rotate(0) scale(1) skew(1deg);
    opacity:.2;
  }
  100% {
    -o-transform:rotate(0) scale(.7) skew(1deg);
    opacity:.2;
  }
}

@-moz-keyframes quick-alo-circle-img-anim {
  10% {
    transform:rotate(0) scale(1) skew(1deg);
  }
  10% {
    -moz-transform:rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -moz-transform:rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -moz-transform:rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -moz-transform:rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -moz-transform:rotate(0) scale(1) skew(1deg);
  }
  100% {
    -moz-transform:rotate(0) scale(1) skew(1deg);
  }
}

@-webkit-keyframes quick-alo-circle-img-anim {
  0% {
    -webkit-transform:rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform:rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform:rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform:rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform:rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform:rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform:rotate(0) scale(1) skew(1deg);
  }
}

@-o-keyframes quick-alo-circle-img-anim {
  0% {
    -o-transform:rotate(0) scale(1) skew(1deg);
  }
  10% {
    -o-transform:rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -o-transform:rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -o-transform:rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -o-transform:rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -o-transform:rotate(0) scale(1) skew(1deg);
  }
  100% {
    -o-transform:rotate(0) scale(1) skew(1deg);
  }
}

.quick-alo-phone {
  position: fixed;
  background-color: transparent;
  width: 200px;
  height: 200px;
  cursor: pointer;
  z-index: 200000 !important;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -webkit-transition: visibility .5s;
  -moz-transition: visibility .5s;
  -o-transition: visibility .5s;
  transition: visibility .5s;
  right: 150px;
  top: 30px;
}

.backGroundColorOrange{
  background: #ff8600 !important;
}



/****************************************
* loader
*****************************************/
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000111;
  background-color: #ffffff;
  opacity: 1;
  -webkit-transition:  all 500ms linear 0s;
  -moz-transition:  all 500ms linear 0s;
  -ms-transition:  all 500ms linear 0s;
  -o-transition:  all 500ms linear 0s;
  transition:  all 500ms linear 0s;
}
#loader-wrapper.loader-off,
body.loaded #loader-wrapper {
  opacity: 0;
  visibility: hidden;
  -webkit-transition:  all 500ms linear 0s;
  -moz-transition:  all 500ms linear 0s;
  -ms-transition:  all 500ms linear 0s;
  -o-transition:  all 500ms linear 0s;
  transition:  all 500ms linear 0s;
}
/* The loader container */
#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  perspective: 400px;
  transform-type: preserve-3d;
}
/* The dot */
#loader .dot {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -80px;
  transform-type: preserve-3d;
  transform-origin: 80px 50%;
  transform: rotateY(0);
  background-color: #1fc0a0;
  animation: dot1 2000ms cubic-bezier(0.56, 0.09, 0.89, 0.69) infinite;
}
#loader .dot:nth-child(2) {
  z-index: 9;
  animation-delay: 150ms;
}
#loader .dot:nth-child(3) {
  z-index: 8;
  animation-delay: 300ms;
}
#loader .dot:nth-child(4) {
  z-index: 7;
  animation-delay: 450ms;
}
#loader .dot:nth-child(5) {
  z-index: 6;
  animation-delay: 600ms;
}
#loader .dot:nth-child(6) {
  z-index: 5;
  animation-delay: 750ms;
}
#loader .dot:nth-child(7) {
  z-index: 4;
  animation-delay: 900ms;
}
#loader .dot:nth-child(8) {
  z-index: 3;
  animation-delay: 1050ms;
}
@keyframes dot1 {
  0% {
    transform: rotate(0deg) skew(0deg);
    background-color: #1fc0a0;
  }
  45% {
    transform: rotate(180deg) skew(-30deg);
    background-color: #0a3c32;
    animation-timing-function: cubic-bezier(0.15, 0.62, 0.72, 0.98);
  }
  90%,
  100% {
    transform: rotate(0deg) skew(0deg);
    background-color: #1fc0a0;
  }
}

#loader-wrapper.inActive {
  display: none;
}
/****************************************
* end loader
*****************************************/
