<div class="container" style="text-align: left" *ngIf="this.dataSize > 0 && this.pageCount > 1">

  <ul class="pagination">

    <li class="page-item" [class.disabled]="this.pageIndex == 0">
      <a class="page-link" href="#" (click)="goFirstPage($event)">1</a>
    </li>

    <li class="page-item" *ngIf="this.pageIndex > 1 && this.pageIndex < this.pageCount">

      <a class="page-link" href="#" (click)="goPreviousPage($event);">
        {{this.pageIndex}}
      </a>

    </li>

    <li class="page-item disabled" *ngIf="this.pageIndex + 1 > 1 && this.pageIndex + 1 < this.pageCount">
      <a class="page-link" href="#" >
        {{this.pageIndex + 1}}
      </a>
    </li>

    <li class="page-item" *ngIf="this.pageIndex + 2 > 1 && this.pageIndex + 2 < this.pageCount">
      <a class="page-link" href="#" (click)="goNextPage($event);">
        {{this.pageIndex + 2}}
      </a>
    </li>

    <li class="page-item" [class.disabled]="this.pageIndex + 1 == this.pageCount" *ngIf="this.pageCount > 1">

      <a class="page-link" href="#" (click)="goLastPage($event);">
        {{this.pageCount}}
      </a>

    </li>

  </ul>

</div>


