<div class="products-breadcrumb">
  <div class="container">
    <ul>
      <li>
        <i class="fa fa-home fa-2x" aria-hidden="true"></i>
        <a href="index.html">Trang chủ</a>
        <span>|</span>
      </li>
      <li>Tuyển dụng</li>
    </ul>
  </div>
</div>

<div class="banner">
  <div class="w3l_banner_nav_left">
    <nav class="navbar nav_bottom">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header nav_2">
        <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse"
                data-target="#bs-megadropdown-tabs">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->


      <app-web-left-side></app-web-left-side>

      <!-- /.navbar-collapse -->
    </nav>
  </div>
  <div class="w3l_banner_nav_right">
    <div style="padding-left: 20px; padding-right: 20px">
      <p><strong>TH&Ocirc;NG B&Aacute;O TUYỂN DỤNG</strong></p>
      <p><em>(V.v: Tuyển dụng Kỹ thuật, Kinh doanh (Kỹ sư b&aacute;n h&agrave;ng))</em></p>
      <ol>
        <li><strong>Tuyển dụng c&aacute;n bộ kỹ thuật</strong></li>
      </ol>
      <table border="1">
        <tbody>
        <tr>
          <td>
            <p><strong>Chỉ ti&ecirc;u</strong></p>
          </td>
          <td>
            <p><strong>C&aacute;n bộ Kinh doanh: 05 c&aacute;n bộ </strong></p>
          </td>
        </tr>
        <tr>
          <td>
            <p><strong>M&ocirc; tả</strong></p>
          </td>
          <td>
            <p>- Tư vấn kỹ thuật, thiết kế, giới thiệu v&agrave; b&aacute;n c&aacute;c sản phẩm C&ocirc;ng ty Cổ phần
              Biển Bạc l&agrave;m đại diện ph&acirc;n phối tại Việt Nam;</p>
            <p>- Ph&aacute;t triển thị trường, t&igrave;m kiếm c&aacute;c đối t&aacute;c hợp t&aacute;c b&aacute;n sản
              phẩm;</p>
            <p>- Đ&agrave;o tạo, hướng dẫn sử dụng c&aacute;c sản phẩm cho kh&aacute;ch h&agrave;ng;</p>
            <p>- Thời gian l&agrave;m việc: S&aacute;ng từ: 8h00-12h00, chiều từ 13h30-17h30<br/> - Ng&agrave;y l&agrave;m
              việc: Từ thứ 2 đến hết s&aacute;ng thứ 7 h&agrave;ng tuần</p>
            <p>- Sản phẩm tham khảo tại: <strong><a
              href="http://www.bienbacsecurity.com.vn/">www.bienbacsecurity.com.vn</a>; www.bienbac.net</strong><br/> -
              Địa điểm l&agrave;m việc: Tầng 2, T&ograve;a nh&agrave; An Ph&uacute;, Số 24 Ho&agrave;ng Quốc Việt H&agrave;
              Nội</p>
          </td>
        </tr>
        <tr>
          <td>
            <p><strong>Y&ecirc;u cầu</strong></p>
          </td>
          <td>
            <p><strong>1/Y&ecirc;u cầu chung&nbsp;</strong></p>
            <p><strong>- </strong>Cao đẳng/ Đại học chuy&ecirc;n ngh&agrave;nh: Đo lường điều khiển, Tự động h&oacute;a,
              Điện, điện tử, cơ điện tử..</p>
            <p>- Ưu ti&ecirc;n ứng vi&ecirc;n c&oacute; kinh nghiệm tư vấn b&aacute;n h&agrave;ng, tư vấn thiết kế trong
              lĩnh vực: Cung cấp hệ thống camera gi&aacute;m s&aacute;t, hệ thống b&aacute;o động, b&atilde;i đỗ xe th&ocirc;ng
              minh, nh&agrave; th&ocirc;ng minh, điện, điện nhẹ, tự động ho&aacute;;</p>
            <p>- Sử dụng tốt c&aacute;c ứng dụng tin học văn ph&ograve;ng như Word, Excel, Outlook Express, skype...&nbsp;<br/>
              <strong>2/Kỹ năng bắt buộc.</strong>&nbsp;<br/> &middot; Sử dụng th&agrave;nh thạo tin học văn ph&ograve;ng
              v&agrave; Auto CAD.&nbsp;<br/> &middot; Kỹ năng giao tiếp &amp; đ&agrave;m ph&aacute;n tốt;</p>
          </td>
        </tr>
        <tr>
          <td>
            <p><strong>Quyền lợi</strong></p>
          </td>
          <td>
            <p>- M&ocirc;i trường l&agrave;m việc: Th&acirc;n thiện,năng động, s&aacute;ng tạo;</p>
            <p>- C&oacute; nhiều cơ hội thực tập với sản phẩm c&ocirc;ng nghệ cao của c&aacute;c h&atilde;ng nổi tiếng
              thế giới;<br/> - Tạo điều kiện ứng vi&ecirc;n n&acirc;ng cao tr&igrave;nh độ, l&agrave;m việc v&agrave;
              gắn b&oacute; l&acirc;u d&agrave;i với c&ocirc;ng ty với c&aacute;c chế độ BHXH đầy đủ;<br/> - Lương cơ
              bản từ 6.000.000đ đến 15.000.000đ &ndash; x&eacute;t duyệt tăng lương 1 năm 1 lần;<br/> - Thưởng doanh số
              kh&ocirc;ng giới hạn;<br/> - 1 năm 12 ng&agrave;y ph&eacute;p. Nghỉ lễ theo qui định nh&agrave; nước;<br/>
              - Được c&ocirc;ng ty đ&agrave;o tạo hoặc c&ocirc;ng ty gửi đi học c&aacute;c kho&aacute; n&acirc;ng cao kỹ
              năng.</p>
            <p>- Thời gian thử việc 2 th&aacute;ng. (85% lương cơ bản)</p>
          </td>
        </tr>
        </tbody>
      </table>
      <p><em>&nbsp;</em></p>
      <ol start="2">
        <li><strong>Tuyển dụng: C&aacute;n bộ Kinh doanh (Kỹ sư b&aacute;n h&agrave;ng)</strong></li>
      </ol>
      <table border="1">
        <tbody>
        <tr>
          <td>
            <p><strong>Chỉ ti&ecirc;u</strong></p>
          </td>
          <td>
            <p><strong>C&aacute;n bộ Kinh doanh: 05 c&aacute;n bộ </strong></p>
          </td>
        </tr>
        <tr>
          <td>
            <p><strong>M&ocirc; tả</strong></p>
          </td>
          <td>
            <p>- Tư vấn kỹ thuật, thiết kế, giới thiệu v&agrave; b&aacute;n c&aacute;c sản phẩm C&ocirc;ng ty Cổ phần
              Biển Bạc l&agrave;m đại diện ph&acirc;n phối tại Việt Nam;</p>
            <p>- Ph&aacute;t triển thị trường, t&igrave;m kiếm c&aacute;c đối t&aacute;c hợp t&aacute;c b&aacute;n sản
              phẩm;</p>
            <p>- Đ&agrave;o tạo, hướng dẫn sử dụng c&aacute;c sản phẩm cho kh&aacute;ch h&agrave;ng;</p>
            <p>- Thời gian l&agrave;m việc: S&aacute;ng từ: 8h00-12h00, chiều từ 13h30-17h30<br/> - Ng&agrave;y l&agrave;m
              việc: Từ thứ 2 đến hết s&aacute;ng thứ 7 h&agrave;ng tuần</p>
            <p>- Sản phẩm tham khảo tại: <strong><a
              href="http://www.bienbacsecurity.com.vn/">www.bienbacsecurity.com.vn</a>; www.bienbac.net</strong><br/> -
              Địa điểm l&agrave;m việc: Tầng 2, T&ograve;a nh&agrave; An Ph&uacute;, Số 24 Ho&agrave;ng Quốc Việt H&agrave;
              Nội</p>
          </td>
        </tr>
        <tr>
          <td>
            <p><strong>Y&ecirc;u cầu</strong></p>
          </td>
          <td>
            <p><strong>1/Y&ecirc;u cầu chung&nbsp;</strong></p>
            <p><strong>- </strong>Cao đẳng/ Đại học chuy&ecirc;n ngh&agrave;nh: Đo lường điều khiển, Tự động h&oacute;a,
              Điện, điện tử, cơ điện tử..</p>
            <p>- Ưu ti&ecirc;n ứng vi&ecirc;n c&oacute; kinh nghiệm tư vấn b&aacute;n h&agrave;ng, tư vấn thiết kế trong
              lĩnh vực: Cung cấp hệ thống camera gi&aacute;m s&aacute;t, hệ thống b&aacute;o động, b&atilde;i đỗ xe th&ocirc;ng
              minh, nh&agrave; th&ocirc;ng minh, điện, điện nhẹ, tự động ho&aacute;;</p>
            <p>- Sử dụng tốt c&aacute;c ứng dụng tin học văn ph&ograve;ng như Word, Excel, Outlook Express, skype...&nbsp;<br/>
              <strong>2/Kỹ năng bắt buộc.</strong>&nbsp;<br/> &middot; Sử dụng th&agrave;nh thạo tin học văn ph&ograve;ng
              v&agrave; Auto CAD.&nbsp;<br/> &middot; Kỹ năng giao tiếp &amp; đ&agrave;m ph&aacute;n tốt;</p>
          </td>
        </tr>
        <tr>
          <td>
            <p><strong>Quyền lợi</strong></p>
          </td>
          <td>
            <p>- M&ocirc;i trường l&agrave;m việc: Th&acirc;n thiện,năng động, s&aacute;ng tạo;</p>
            <p>- C&oacute; nhiều cơ hội thực tập với sản phẩm c&ocirc;ng nghệ cao của c&aacute;c h&atilde;ng nổi tiếng
              thế giới;<br/> - Tạo điều kiện ứng vi&ecirc;n n&acirc;ng cao tr&igrave;nh độ, l&agrave;m việc v&agrave;
              gắn b&oacute; l&acirc;u d&agrave;i với c&ocirc;ng ty với c&aacute;c chế độ BHXH đầy đủ;<br/> - Lương cơ
              bản từ 6.000.000đ đến 15.000.000đ &ndash; x&eacute;t duyệt tăng lương 1 năm 1 lần;<br/> - Thưởng doanh số
              kh&ocirc;ng giới hạn;<br/> - 1 năm 12 ng&agrave;y ph&eacute;p. Nghỉ lễ theo qui định nh&agrave; nước;<br/>
              - Được c&ocirc;ng ty đ&agrave;o tạo hoặc c&ocirc;ng ty gửi đi học c&aacute;c kho&aacute; n&acirc;ng cao kỹ
              năng.</p>
            <p>- Thời gian thử việc 2 th&aacute;ng. (85% lương cơ bản)</p>
          </td>
        </tr>
        </tbody>
      </table>
      <ol start="3">
        <li><strong> Hồ sơ xin việc:</strong></li>
      </ol>
      <table border="1">
        <tbody>
        <tr>
          <td>
            <p><strong>Hồ sơ</strong></p>
          </td>
          <td colspan="2">
            <p><strong>- Th&ocirc;ng tin ứng vi&ecirc;n tuyển dụng (theo mẫu c&ocirc;ng ty Biển Bạc cung cấp)</strong>
            </p>
            <p>- Đơn xin việc<br/> - Sơ yếu l&yacute; lịch.<br/> - Hộ khẩu, chứng minh nh&acirc;n d&acirc;n v&agrave;
              giấy kh&aacute;m sức khỏe.<br/> - C&aacute;c bằng cấp c&oacute; li&ecirc;n quan.</p>
            <p>- Nộp hồ sơ trực tiếp hoặc qua email<br/> - Nộp hồ sơ qua email. Ghi r&otilde; Ti&ecirc;u đề email theo
              dạng&rdquo; <strong>Ứng tuyển nh&acirc;n vi&ecirc;n &ldquo;Kỹ thuật /Kinh Doanh (Kỹ sư b&aacute;n h&agrave;ng)&rdquo;
                &ndash; họ t&ecirc;n&rdquo;</strong> <br/> - Lịch nhận hồ sơ từ 25/2/2018 &ndash; 20/3/2018; Phỏng vấn:
              24/3/2018; Thời gian ch&iacute;nh thức l&agrave;m việc từ 1/4/2018</p>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <p><strong>Li&ecirc;n hệ:</strong> Ms. <strong>Đinh Thị Thu Trang</strong> &ndash; Thư k&yacute; Ban Gi&aacute;m
              đốc; C&ocirc;ng ty Cổ Phần Biển Bạc&nbsp;; Tầng 2, T&ograve;a nh&agrave; An Ph&uacute; - 24 Ho&agrave;ng
              Quốc Việt, Cầu Giấy, H&agrave; Nội; Tel: 024 37913858/ 0 - Fax: 024 3756 3554 - Hotline: 1900 6426 ;
              Mobile: 096 883 6060 - Email:&nbsp;<a href="mailto:trangdtt@silversea.vn">trangdtt@silversea.vn</a></p>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p><strong><u>Nơi nhận:</u></strong></p>
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Như tr&ecirc;n</p>
            <p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Lưu văn ph&ograve;ng</p>
          </td>
          <td>
            <p><strong>&nbsp;</strong></p>
            <p><strong>T/M C&Ocirc;NG TY CP BIỂN BẠC</strong></p>
            <p><strong>&nbsp;</strong></p>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        </tbody>
      </table>
      <p>&nbsp;</p>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="newsletter">
  <div class="container">
    <div class="w3agile_newsletter_left">
      <h3>sign up for our newsletter</h3>
    </div>
    <div class="w3agile_newsletter_right">
      <form action="#" method="post">
        <input type="email" name="Email" value="Email" onfocus="this.value = '';"
               onblur="if (this.value == '') {this.value = 'Email';}" required="">
        <input type="submit" value="subscribe now">
      </form>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
