<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Chi tiết tin tức
    <small>Quản lí tin tức</small>
  </h1>
</section>

<!-- Main content -->
<section class="content">

  <!-- Your Page Content Here -->

  <div class="box">

    <div class="box-body">

      <app-box-errors [errorMessages]="errorMessages"></app-box-errors>

      <app-input-text [title]="'Tiêu đề'" [placeHolder]="'Tiêu đề'" [(value)]="form.tieuDe"
                      [errorMessage]="getErrorMessage('tieuDe')">
      </app-input-text>

      <app-input-text-with-icon [title]="'Link ảnh'" [placeHolder]="'Link ảnh'" [(value)]="form.hinhAnh"
                                [errorMessage]="getErrorMessage('hinhAnh')" [inputIcon]="'fa-plus'"
                                (inputIconClick)="inputIconClick($event)">
      </app-input-text-with-icon>

      <app-text-area [title]="'Nội dung ngắn'" [placeHolder]="'Nội dung ngắn'"
                     [(value)]="form.noiDungNgan" [errorMessage]="getErrorMessage('noiDungNgan')">
      </app-text-area>

      <app-text-area [title]="'Nội dung chi tiết'" [placeHolder]="'Nội dung chi tiết'"
                     [(value)]="form.noiDungChiTiet" [errorMessage]="getErrorMessage('noiDungChiTiet')">
      </app-text-area>

    </div>

    <div class="box-footer">
      <button type="submit" class="btn btn-info pull-right" (click)="save($event)">Lưu</button>
    </div>

  </div>

</section>
