<div class="main">

  <div id="loader-wrapper" [class.isLoading]="isLoading">
    <div id="loader">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
  </div>

  <!-- Back to top -->
  <div class="back-to-top"><span class="icon-keyboard_arrow_up"></span></div>
  <!-- /Back to top -->
  <app-web-header></app-web-header>
  <app-web-content></app-web-content>
  <app-web-footer></app-web-footer>
</div>


<toaster-container [toasterconfig]="toasterConfig">
</toaster-container>
