<div class="products-breadcrumb">
  <div class="container">
    <ul>
      <li>
        <i class="fa fa-home fa-2x" aria-hidden="true"></i>
        <a href="index.html">Trang chủ</a>
        <span>|</span>
      </li>
      <li>Đại lý</li>
    </ul>
  </div>
</div>

<div class="banner">
  <div class="w3l_banner_nav_left">
    <nav class="navbar nav_bottom">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header nav_2">
        <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse"
                data-target="#bs-megadropdown-tabs">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->


      <app-web-left-side></app-web-left-side>

      <!-- /.navbar-collapse -->
    </nav>
  </div>
  <div class="w3l_banner_nav_right">
    <div style=" border-left:solid 1px #E6E5E6;  border-right:solid 1px #E6E5E6; padding:2px;">
      <div style="padding:5px;" align="justify"><table width="700" cellspacing="0" cellpadding="0" border="0">
        <tbody>
        <tr>
          <td>
            <p><span style="font-size: larger;"><strong>Do   nhu cầu phát triển, hiện nay Công ty CP Biển Bạc đang tìm kiếm đại lý   và cộng tác viên trên cả nước.  Đơn vị nào có nhu cầu trở thành đại lý   và cộng tác viên của Biển Bạc xin vui lòng liên hệ : </strong></span></p>
            <p><span style="font-size: larger;"><strong>Phòng Marketing - Công ty CP Biển Bạc </strong></span></p>
            <p><span style="font-size: larger;"><strong>Điện thoại: 043 791 3858 máy lẻ 401-405 - Fax: 043 756 3554 </strong></span></p>
            <p><span style="font-size: larger;"><strong>Email: marketing@silversea.vn&nbsp; </strong></span></p>
            <p><span style="font-size: larger;"><strong>Hotline : Ms Dung - 0942 959 409; Mr Thọ - 0983 001 418 </strong></span></p>
            <p><a href="http://bienbacsecurity.com.vn/upload_images/file/maudangkydaily1-3-2011.doc">Download mẫu đăng ký đại lý</a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="/upload_images/quychecongtacvien.doc">Download quy chế cộng tác viên</a></p>
            <p><a href="http://bienbacsecurity.com.vn/upload_images/file/quychedaily1-3-2011.doc">Download quy chế đại lý</a></p>
            <p><strong><img alt="" src="http://bienbacsecurity.com.vn/upload_images/untitled%281%29.gif" width="600" height="880"></strong></p>
            <p>&nbsp;</p>
          </td>
        </tr>
        </tbody>
      </table>
        <p>&nbsp;</p></div>

    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="newsletter">
  <div class="container">
    <div class="w3agile_newsletter_left">
      <h3>sign up for our newsletter</h3>
    </div>
    <div class="w3agile_newsletter_right">
      <form action="#" method="post">
        <input type="email" name="Email" value="Email" onfocus="this.value = '';"
               onblur="if (this.value == '') {this.value = 'Email';}" required="">
        <input type="submit" value="subscribe now">
      </form>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
