<div class="products_padding_content"></div>
<!-- banner -->
<div class="banner">
  <div class="w3l_banner_nav_left">
    <nav class="navbar nav_bottom">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header nav_2">
        <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse"
                data-target="#bs-megadropdown-tabs">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->


      <app-web-left-side></app-web-left-side>

      <!-- /.navbar-collapse -->
    </nav>
  </div>
  <div class="w3l_banner_nav_right">
    <div class="col-xs-12">

      <ng-container *ngFor="let news of danhSachTinTuc">

      <div class="col-xs-12 col-md-3 col-lg-3  configBorder">
        <div class="newpic">
          <a (click)="goToChiTietTinTuc($event,news)">
            <img src="{{news.hinhAnh}}" border="0" hspace="5" vspace="5" width="220" height="150"/>
          </a>
        </div>
        <h5><a (click)="goToChiTietTinTuc($event,news)">{{news.tieuDe}}</a></h5>
      </div>

      </ng-container>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<!-- banner -->

<!-- top-brands -->
<div class="top-brands">

  <div class="container">
    <ul class="nav nav-tabs custom-tabs " role="tablist">
      <li role="presentation" class="active">
        <a style="background-color:red; color: white; font-weight: bolder">CAMERA
          GIÁM SÁT</a>
      </li>
      <li class="hidden-xs hidden-sm" role="presentation">
        <a (click)="goToCategory($event, 'cameraTronBo')">Camera Trọn bộ</a>
      </li>
      <li class="hidden-xs hidden-sm" role="presentation">
        <a (click)="goToCategory($event, 'cameraGiamSat')">Camera Giám sát</a>
      </li>
      <li class="hidden-xs hidden-sm" role="presentation">
        <a (click)="goToCategory($event, 'thietBiAnNinh')">Thiết bị an ninh</a>
      </li>
      <li class="hidden-xs hidden-sm" role="presentation">
        <a (click)="goToCategory($event, 'dauGhiHinhCamera')">Đầu ghi hình Camera</a>
      </li>
    </ul>
    <div class="agile_top_brands_grids">

      <ng-container *ngFor="let productCamera of this.productListCameraGiamSat">
        <div class="col-md-3 top_brand_left text-center-align margin-top-20">
          <div class="hover14 column">
            <div class="agile_top_brand_left_grid">
              <div class="agile_top_brand_left_grid1">
                <figure>
                  <div class="snipcart-item block">
                    <div class="snipcart-thumb">
                      <a (click)="goToChiTietSanPham($event, productCamera)">
                        <img title=" " alt=" " src="assets/images/{{productCamera.image1}}.png" width="140" height="140"/>
                      </a>
                      <p> {{productCamera.name}} </p>
                      <h4>{{productCamera.gia}} đ
                        <span>{{productCamera.giaTruocKhiHa}} đ</span>
                      </h4>
                    </div>
                    <div class="snipcart-details top_brand_home_details">
                      <form action="checkout.html" method="post">
                        <fieldset>
                          <input type="hidden" name="cmd" value="_cart"/>
                          <input type="hidden" name="add" value="1"/>
                          <input type="hidden" name="business" value=" "/>
                          <input type="hidden" name="item_name" value="Fortune Sunflower Oil"/>
                          <input type="hidden" name="amount" value="7.99"/>
                          <input type="hidden" name="discount_amount" value="1.00"/>
                          <input type="hidden" name="currency_code" value="USD"/>
                          <input type="hidden" name="return" value=" "/>
                          <input type="hidden" name="cancel_return" value=" "/>
                          <input type="submit" name="submit" value="Mua ngay" class="button"/>
                        </fieldset>

                      </form>

                    </div>
                  </div>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </ng-container>

      <div class="clearfix"></div>
    </div>
  </div>

  <div class="container">
    <ul class="nav nav-tabs custom-tabs " role="tablist">
      <li role="presentation" class="active">
        <a  style="background-color:red; color: white; font-weight: bolder">Giải pháp Camera</a>
      </li>
      <li class="hidden-xs hidden-sm" role="presentation">
        <a (click)="goToCategory($event, 'phuKienCamera')">Phụ kiện Camera</a>
      </li>
      <li class="hidden-xs hidden-sm" role="presentation">
        <a (click)="goToCategory($event, 'mayChamCong')">Máy chấm công</a>
      </li>
    </ul>

    <div class="agile_top_brands_grids">
      <ng-container *ngFor="let productCamera of this.productListGiaiPhapCamera">
        <div class="col-md-3 top_brand_left text-center-align margin-top-20">
          <div class="hover14 column">
            <div class="agile_top_brand_left_grid">
              <div class="agile_top_brand_left_grid1">
                <figure>
                  <div class="snipcart-item block">
                    <div class="snipcart-thumb">
                      <a (click)="goToChiTietSanPham($event, productCamera)">
                        <img title=" " alt=" " src="assets/images/{{productCamera.image1}}.png" width="140" height="140"/>
                      </a>
                      <p> {{productCamera.name}} </p>
                      <h4>{{productCamera.gia}} đ
                        <span>{{productCamera.giaTruocKhiHa}} đ</span>
                      </h4>
                    </div>
                    <div class="snipcart-details top_brand_home_details">
                      <form action="checkout.html" method="post">
                        <fieldset>
                          <input type="hidden" name="cmd" value="_cart"/>
                          <input type="hidden" name="add" value="1"/>
                          <input type="hidden" name="business" value=" "/>
                          <input type="hidden" name="item_name" value="Fortune Sunflower Oil"/>
                          <input type="hidden" name="amount" value="7.99"/>
                          <input type="hidden" name="discount_amount" value="1.00"/>
                          <input type="hidden" name="currency_code" value="USD"/>
                          <input type="hidden" name="return" value=" "/>
                          <input type="hidden" name="cancel_return" value=" "/>
                          <input type="submit" name="submit" value="Mua ngay" class="button"/>
                        </fieldset>

                      </form>

                    </div>
                  </div>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="clearfix"></div>
    </div>

  </div>

  <div class="container">

    <div class="agile_top_brands_grids">
      <div class="col-md-12 top_brand_left">
        <br/>
        <div class="text-header">Camera các hãng</div>
        <div class="galleryslider">

          <div class="clear"></div>
          <div class="flex-viewport" style="overflow: hidden; position: relative;">
            <ul class="slides" style="width: 1800%; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
              <li style="width: 122px; float: left; display: block;">
                <a href="http://fptcamera.vn/camera-vantech">
                  <img alt="Camera Vantech Giá Rẻ"
                       src="http://fptcamera.vn/resources/uploads/images/automatic/quang-cao/camera-vantech.jpg">
                </a>
              </li>
              <li style="width: 122px; float: left; display: block;">
                <a href="http://fptcamera.vn/camera-benco">
                  <img alt="Camera Benco Giá Rẻ"
                       src="http://fptcamera.vn/resources/uploads/images/automatic/quang-cao/camera-hang-benco1.jpg">
                </a>
              </li>
              <li style="width: 122px; float: left; display: block;">
                <a href="http://fptcamera.vn/camera-dahua">
                  <img alt="Camera Dahua Đài Loan"
                       src="http://fptcamera.vn/resources/uploads/images/automatic/quang-cao/camera-dahua.jpg">
                </a>
              </li>
              <li style="width: 122px; float: left; display: block;">
                <a href="http://fptcamera.vn/camera-questek">
                  <img alt="Camera Questek Việt Nam"
                       src="http://fptcamera.vn/resources/uploads/images/automatic/quang-cao/camera-questek.jpg">
                </a>
              </li>
              <li style="width: 122px; float: left; display: block;">
                <a href="http://fptcamera.vn/camera-hikvision">
                  <img alt="Camera HIKVISION"
                       src="http://fptcamera.vn/resources/uploads/images/automatic/quang-cao/camera-hikvision-dai-loan.jpg">
                </a>
              </li>
              <li style="width: 122px; float: left; display: block;">
                <a href="http://fptcamera.vn/camera-spyeye">
                  <img alt="Camera Spyeye"
                       src="http://fptcamera.vn/resources/uploads/images/automatic/quang-cao/camera-spyeye-gia-re1.jpg">
                </a>
              </li>
              <li style="width: 122px; float: left; display: block;">
                <a href="http://fptcamera.vn/camera-avtech">
                  <img alt="Camera AVTECH ĐÀI LOAN"
                       src="http://fptcamera.vn/resources/uploads/images/automatic/quang-cao/camera-samsung.jpg">
                </a>
              </li>
              <li style="width: 122px; float: left; display: block;">
                <a href="http://fptcamera.vn/camera-kce">
                  <img alt="Camera KCE HÀN QUỐC"
                       src="http://fptcamera.vn/resources/uploads/images/automatic/quang-cao/camera-KCE-han-quoc.jpg">
                </a>
              </li>
              <li style="width: 122px; float: left; display: block;">
                <a href="http://fptcamera.vn/camera-kce">
                  <img alt="Camera SAMSUNG HÀN QUỐC"
                       src="http://fptcamera.vn/resources/uploads/images/automatic/quang-cao/camera-hang-samsung.jpg">
                </a>
              </li>
              <div class="clear"></div>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-12 top_brand_left">
        <br/>
        <div class="text-header">Chấp nhận thanh toán</div>
        <img style="width:100%;margin:10px 0;" alt="Chấp nhận thanh toán"
             src="http://fptcamera.vn/resources/ui_images/client/background/payments.png">
      </div>

      <div class="col-md-12 col-xs-12 top_brand_left">
        <div class="row">
          <div class="col-xs-12 col-md-4 col-lg-3">
            <div class="social-claim">
              <div class="claim_header">Cam kết</div>
              <div class="claim">Sản phẩm hàng hóa chính hãng, đa dạng, phong phú</div>
              <div class="claim">Luôn luôn giá rẻ và khuyến mại không ngừng</div>
              <div class="claim">Dịch vụ chăm sóc khách hàng uy tín, tận tâm</div>
            </div>
          </div>
          <div class="col-xs-12 col-md-4 col-lg-3">
            <div class="social-claim2">
              <div class="claim_header">Hỗ trợ khách hàng</div>
              <ul>
                <li>
                  <a href="http://fptcamera.vn/tin-tuc/xem-camera-giam-sat-qua-dien-thoai">Xem camera giám sát qua điện
                    thoại</a>
                </li>
                <li>
                  <a href="http://fptcamera.vn/tin-tuc/xem-camera-quan-sat-qua-may-tinh">Xem camera quan sát qua máy
                    tính</a>
                </li>
                <li>
                  <a href="http://fptcamera.vn/tin-tuc/download-tai-lieu">Download tài liệu</a>
                </li>
                <li>
                  <a href="http://fptcamera.vn/tin-tuc/hd-cai-dat-phan-mem-teamviewer">HD cài đặt phần mềm
                    Teamviewer</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-md-4 col-lg-3">
            <div class="social-claim2">
              <div class="claim_header">Thông tin công ty</div>
              <ul>
                <li>
                  <a href="http://fptcamera.vn/tin-tuc/gioi-thieu">Giới thiệu</a>
                </li>
                <li>
                  <a href="http://fptcamera.vn/tin-tuc/tuyen-dung">Tuyển dụng</a>
                </li>
                <li>
                  <a href="http://fptcamera.vn/tin-tuc/chinh-sach">Chính sách</a>
                </li>
              </ul>
              <div id="social_us">
                <div class="social_us_header">Kết nối với chúng tôi</div>
                <div id="f_social">
                  <a target="_blank" rel="nofollow" href="https://www.facebook.com/FptCamera.vn">
                    <img src="http://fptcamera.vn/resources/ui_images/client/background/social/f_fb.png">
                  </a>
                  <a target="_blank" rel="nofollow" href="https://plus.google.com//+FptCamera">
                    <img src="http://fptcamera.vn/resources/ui_images/client/background/social/f_gplus.png">
                  </a>
                  <a target="_blank" rel="nofollow" href="https://www.youtube.com/c/FptCamera">
                    <img src="http://fptcamera.vn/resources/ui_images/client/background/social/f_yt.png">
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-4 col-lg-3 hidden-md">
            <div class="social-claim2">
              <div class="claim_header">Tổng đài trợ giúp</div>
              <div style="margin:10px;">
                <table style="width: 100%;" cellspacing="1" cellpadding="1" border="0">
                  <tbody>
                  <tr>
                    <td>
                      <img alt="" src="assets/images/tro-giup.png" style="width: 68px; height: 81px;">
                    </td>
                    <td style="vertical-align: middle;">
                      <p>
														<span style="color:#333333;">
															<span style="font-size:14px;">Tư vấn bán hàng</span>
														</span>
                      </p>

                      <p>
														<span style="color:#ba0000;">
															<span style="font-size:20px;">
																<strong>0984 489 688</strong>
															</span>
														</span>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <hr>
                      <span style="color:#555555;">
														<span style="font-size:13px;">
															<img alt=""
                                   src="assets/images/life_saver.png">&nbsp; Chăm sóc và hỗ trợ sau bán hàng</span>
													</span>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2" style="text-align: center;">
													<span style="color:#B22222;">
														<strong>
															<span style="font-size:16px;">(04)6328 2964</span>
														</strong>
													</span>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">
													<span style="font-size:13px;">
														<span style="color:#555555;">
															<img alt="" src="assets/images/mailer.png">&nbsp; fptcamera.vn@gmail.com</span>
													</span>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- //top-brands -->
