<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Đổi mật khẩu
    <small>Quản lí user</small>
  </h1>
</section>

<!-- Main content -->
<section class="content">

  <!-- Your Page Content Here -->

  <div class="box">

    <div class="box-body">

      <app-box-errors [errorMessages]="errorMessages"></app-box-errors>

      <app-input-text [title]="'Mật khẩu cũ'" [placeHolder]="'Mật khẩu cũ'" [(value)]="form.oldPassword"
                      [errorMessage]="getErrorMessage('oldPassword')" [type]="'password'">
      </app-input-text>

      <app-input-text [title]="'Mật khẩu mới'" [placeHolder]="'Mật khẩu mới'" [(value)]="form.newPassword"
                      [errorMessage]="getErrorMessage('newPassword')" [type]="'password'">
      </app-input-text>

      <app-input-text [title]="'Mật khẩu Confirm'" [placeHolder]="'Mật khẩu Confirm'" [(value)]="form.confirmPassword"
                      [errorMessage]="getErrorMessage('confirmPassword')" [type]="'password'">
      </app-input-text>


    </div>

    <div class="box-footer">
      <button type="submit" class="btn btn-info pull-right" (click)="changePassword($event)">Lưu</button>
    </div>

  </div>

</section>
