<div id="pageContent">
  <div style="padding-left: 20px; padding-right: 20px">
    <div class="row">

      <aside class="col-md-8 col-lg-9 col-xl-10 paddingDiv" id="centerColumn">
        <ng-container *ngFor="let solution of solutionList">
          <div class="row configAttributeRow" (click)="goToChiTietGiaiPhap($event,solution)">
            <div class="col-sm-12 col-md-3 col-sm-center">
              <div class="divider divider--lg hidden-xl"></div>
              <img src="{{solution.hinhAnh}}" class="img-responsive" alt="">
            </div>
            <div class="col-md-12 col-md-9 col-sm-center">
              <div class="divider visible-xl"></div>
              <div class="divider hidden-xl"></div>
              <h3 class="title-under">{{solution.tieuDe}}</h3>
              <p>
                {{solution.noiDungNgan}}
              </p>
              <div class="divider"></div>
            </div>
          </div>
        </ng-container>
      </aside>

      <aside class="col-md-4 col-lg-3 col-xl-2 paddingDiv" id="leftColumn">
        <app-web-right-side></app-web-right-side>
      </aside>
    </div>
  </div>
</div>
