<div class="form-group {{this.customClass}}" [class.has-error]="isError">

  <label class="cut-text" for="{{this.inputId}}" title="{{this.title}}">

    <i class="fa fa-times-circle-o" *ngIf="isError"></i>

    <span *ngIf="this.icon" class="{{this.icon}}"></span>

    {{this.title}}

    <span *ngIf="this.isRequired" class="requiredIndicator">*</span>
  </label>

  <input type="{{this.typeInput}}" class="form-control" id="{{this.inputId}}" placeholder="{{this.placeHolder}}"
         (change)="inputValueChanged()" [disabled]="this.disabled" (blur)="onBlur($event)"
         (focus)="onFocus($event)"/>

  <span class="help-block" *ngIf="isError">{{errorMessage}}</span>

</div>
