<!-- breadcrumbs -->
<div class="breadcrumbs">
  <div class="container">
    <ol class="breadcrumb breadcrumb--ys pull-left">
      <li class="home-link"><a (click)="goToTrangChu($event)" class="icon icon-home"></a></li>
      <li class="fontsizeHyperLink"><a (click)="goToMenuIndex($event, 'giaiPhap')">Giải pháp</a></li>
      <li class="fontsizeHyperLink">Chi tiết giải pháp </li>
      <li class="active fontsizeHyperLink">{{solution.tieuDe}}</li>
    </ol>
  </div>
</div>
<div id="pageContent">
  <div style="padding-left: 20px; padding-right: 20px">
    <div class="row">

      <aside class="col-md-8 col-lg-9 col-xl-10" id="centerColumn">
        <ng-container *ngIf="checkContentSolution()">
          <div class="prd-body paddingDiv" [innerHTML]="this.solution.noiDungChiTiet"></div>
        </ng-container>
      </aside>

      <aside class="col-md-4 col-lg-3 col-xl-2" id="leftColumn">
        <app-web-right-side></app-web-right-side>
      </aside>
    </div>
  </div>
</div>
