<div class="products-breadcrumb">
  <div class="container">
    <ul>
      <li>
        <i class="fa fa-home fa-2x" aria-hidden="true"></i>
        <a href="index.html">Trang chủ</a>
        <span>|</span>
      </li>
      <li>Trung tâm đào tạo</li>
    </ul>
  </div>
</div>

<div class="banner">
  <div class="w3l_banner_nav_left">
    <nav class="navbar nav_bottom">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header nav_2">
        <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse"
                data-target="#bs-megadropdown-tabs">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->


      <app-web-left-side></app-web-left-side>

      <!-- /.navbar-collapse -->
    </nav>
  </div>
  <div class="w3l_banner_nav_right">
    <div class="paddingDiv" style="padding-left:20px ;padding-right: 20px;" align="justify">
      <table width="600" border="0">
        <tbody>
        <tr>
          <td>
            <iframe src="https://www.youtube.com/embed/iOh3wNAPkjU" allowfullscreen="" width="350" height="200"
                    frameborder="0"></iframe>
          </td>
          <td>&nbsp;</td>
          <td style="text-align: center;"><a href="/upload_images/gioi thieu trung tam dao tao.pdf"><img
            src="/upload_images/gioi-thieu.jpg" alt="" width="320" height="49"></a><br>
            <br>
            <a href="http://bienbacsecurity.com.vn/en/Page-s910/Hinh-anh-cac-khoa-dao-tao-d41"><img
              src="/upload_images/hinh-anh.jpg" alt="" width="320" height="48"></a><br>
            <br>
            <a href="http://bienbacsecurity.com.vn/e-newletter/2017/dao%20tao%203.html"><img
              src="/upload_images/ke-hoach.jpg" alt="" width="320" height="48"></a>
          </td>
        </tr>
        </tbody>
      </table>


      <p>&nbsp;&nbsp; <span style="font-size: larger;">“Công nghệ” là yếu tố mang đến sự  thay đổi có tính quyết định để các doanh nghiệp nâng cao năng lực cạnh  tranh và tăng hiệu quả sản xuất kinh doanh. Trong xu thế hội nhập, để  tiếp tục giữ vững vai trò chuyển giao công nghệ vào thị trường Việt Nam,  Công ty Biển Bạc kết hợp với các hãng an ninh hàng đầu thế giới và Hiệp  hội An ninh Chuyên nghiệp Châu Á thành lập Trung tâm nghiên cứu và  chuyển giao công nghệ thiết bị bảo vệ và camera giám sát Biển Bạc. Trung  tâm sẽ thường xuyên tổ chức các Hội thảo khoa học, các lớp đào tạo  chuyên sâu về lĩnh vực công nghệ an ninh an toàn và camera giám sát, các  thiết bị và sản phẩm mới, các giải pháp an ninh và các phần mềm chuyên  dụng, …do chuyên gia hàng đầu Việt Nam và thế giới trực tiếp giảng dạy.</span>
      </p>
      <p style="text-align: center;"><span style="font-size: larger;"><img
        src="/upload_images/ra-mat-trung-tam-dao-tao.jpg"
        alt="" width="500" height="309"></span></p>
      <p style="text-align: center;"><span style="font-size: larger;"><em>Đại  diện Biển Bạc và 11 hãng bắt tay hợp tác thành lập trung tâm công nghệ  tại Lễ khai trương được tổ chức ngày 11/12/2015 tại Khách sạn Daewoo Hà  Nội</em></span>
      </p>
      <p><span style="font-size: larger;">Trung tâm sẽ là địa chỉ  để các đối tác và khách hàng tại Việt Nam có cơ hội giao lưu, học hỏi,  thực hành và tiếp cận các công nghệ an ninh tiên tiến trên thế giới.</span>
      </p>
      <p><span style="font-size: medium;">Để biết thêm chi tiết, vui lòng liên hệ:<br>
<strong>TRUNG TÂM NGHIÊN CỨU VÀ CHUYỂN GIAO CÔNG NGHỆ THIẾT BỊ BẢO VỆ &amp; CAMERA GIÁM SÁT BIỂN BẠC</strong><br>
Tầng 2, Tòa nhà An Phú, 24 Hoàng Quốc Việt, Cầu Giấy, Hà Nội <br>
Điện thoại: 04 37913858; Fax: 04 37563554; Hotline: 19006426; Email: bienbac@bienbac.net<br>
Website: www.bienbacsecurity.com.vn&nbsp; </span><span style="font-size: larger;"><br>
</span></p></div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="newsletter">
  <div class="container">
    <div class="w3agile_newsletter_left">
      <h3>sign up for our newsletter</h3>
    </div>
    <div class="w3agile_newsletter_right">
      <form action="#" method="post">
        <input type="email" name="Email" value="Email" onfocus="this.value = '';"
               onblur="if (this.value == '') {this.value = 'Email';}" required="">
        <input type="submit" value="subscribe now">
      </form>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
