<!--<div class="form-group">-->
  <!--<input #inputElement type="text" class="slider"/>-->
<!--</div>-->


<div class="collapse-block__content">
  <div id="priceSlider" class="price-slider"></div>
  <form action="#">
    <div class="price-input">
      <label>From:</label>
      <input type="text" id="priceMin" />
    </div>
    <div class="price-input-divider">-</div>
    <div class="price-input">
      <label>To:</label>
      <input type="text" id="priceMax" />
    </div>
    <div class="price-input">
      <button type="submit" class="btn btn--ys btn--md">Filter</button>
    </div>
  </form>
</div>

