<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Chi tiết Nhóm sản phẩm
    <small>Quản lí Nhóm sản phẩm</small>
  </h1>
</section>

<!-- Main content -->
<section class="content">

  <!-- Your Page Content Here -->

  <div class="box">

    <div class="box-body">

      <app-box-errors [errorMessages]="errorMessages"></app-box-errors>

      <div class="col-md-6">
        <app-input-text [title]="'Tên'" [placeHolder]="'Tên'" [(value)]="form.name"
                        [errorMessage]="getErrorMessage('name')">
        </app-input-text>
      </div>

      <div class="col-md-6">
        <app-input-text [title]="'Mã nhóm'" [placeHolder]="'Mã nhóm'" [(value)]="form.code"
                        [errorMessage]="getErrorMessage('code')">
        </app-input-text>
      </div>

      <div class="col-md-6">
        <app-select [title]="'Nhóm cha'" [(value)]="form.parentCategoryId" [placeHolder]="'Nhóm cha'"
                    [data]="parentCategories" [optionKey]="'id'" [optionValue]="'name'"
                    [errorMessage]="getErrorMessage('parentCategoryId')">
        </app-select>
      </div>

      <div class="col-md-12">
        <app-input-text-with-icon [title]="'Link ảnh'" [placeHolder]="'Link ảnh'" [(value)]="form.imageUrl"
                                  [errorMessage]="getErrorMessage('imageUrl')" [inputIcon]="'fa-plus'"
                                  (inputIconClick)="inputIconClick($event)">
        </app-input-text-with-icon>
      </div>

    </div>

    <div class="box-footer">
      <button type="submit" class="btn btn-info pull-right" (click)="save($event)">Lưu</button>
    </div>

  </div>

</section>
