<div class="filters-row__pagination" *ngIf="this.dataSize > 0 && this.pageCount > 1">

  <ul class="pagination">

    <li class="page-item" [class.active]="this.pageIndex == 0">
      <a href="#" class="page-link" (click)="goFirstPage($event); $event.preventDefault()">1</a>
    </li>


    <li class="page-item" *ngIf="this.pageIndex > 1 && this.pageIndex < this.pageCount">
      <a href="#" class="page-link" (click)="goPreviousPage($event);">
        {{this.pageIndex}}
      </a>
    </li>

    <li class="page-item active" *ngIf="this.pageIndex + 1 > 1 && this.pageIndex + 1 < this.pageCount">
      <a href="#" class="page-link">
        {{this.pageIndex + 1}}
      </a>
    </li>

    <li class="page-item" *ngIf="this.pageIndex + 2 > 1 && this.pageIndex + 2 < this.pageCount">
      <a href="#" class="page-link" (click)="goNextPage($event);">
        {{this.pageIndex + 2}}
      </a>
    </li>

    <li class="page-item" [class.active]="this.pageIndex + 1 == this.pageCount" *ngIf="this.pageCount > 1">
      <a href="#" class="page-link" (click)="goLastPage($event);">
        {{this.pageCount}}
      </a>
    </li>

  </ul>

</div>
