h4, a {
  cursor: pointer;
}

.about h3, .checkout-right h4 {
  font-family: MuseoSansCyrl_3, sans-serif !important;
}

table th, table td{
  font-family: MuseoSansCyrl_3, sans-serif !important;

}


.thayDoiCSSGiaBan {
  font-size: 20px;
  color: #F26522 !important;
  font-weight: bold;
}
